[2016-06-28 23:41] ashfurrow opened #1 "Lint"
Should try linting the plugin.

[2016-06-28 23:42] ashfurrow opened #2 "Integration Test"
Need tot ry actually using this on eigen to make sure there're no gotchas.

[2016-06-28 23:48] ashfurrow opened #3 "Add CI to this repo"

[2016-06-28 23:53] ashfurrow opened #5 "Integrate into SwiftLint source"
I think it'd be awesome to eventually get [SwiftLint](https://github.com/realm/SwiftLint) to use Danger with this plugin on their own source.

[2016-06-29 01:14] #3 closed

[2016-06-29 15:35] ashfurrow opened #7 "Cut a release and publish to rubygems"
Once #2 is done and we've run this a bit on eigen, we should cut a release and push to rubygems.org so it's easy to install. Also, update the readme's installation instructions.

[2016-06-29 16:27] #2 closed

[2016-07-05 00:07] ashfurrow commented on #7
Done: https://rubygems.org/gems/danger-swiftlint

[2016-07-05 00:07] #7 closed

[2016-07-05 14:47] ashfurrow opened #10 "Sometimes returns empty message"
Example: https://github.com/Moya/Moya/pull/523#issuecomment-230372611

[2016-07-06 23:50] ashfurrow opened #11 "Markdown table missing newline"
Seen in https://github.com/Moya/Moya/pull/483

[2016-07-07 00:07] esttorhe opened #13 "Breaks when filename has spaces"
e.g.: `Observable + Operations.swift` breaks the plugin

See here: https://travis-ci.org/RxSwiftCommunity/RxViewModel/builds/142914303

<details>
Unrecognized arguments: "Categories/Observable", "+", "Operations.swift"
[!] Invalid `Dangerfile` file: A JSON text must at least contain two octets!. Updating the Danger gem might fix the issue.
 #  from Dangerfile:27
 #  -------------------------------

[2016-07-07 00:15] #11 closed

[2016-07-07 05:41] bentrengrove opened #14 "Newline characters not resolving"
Comment ends up having \n\n in its body

![screen shot 2016-07-07 at 15 40 30](https://cloud.githubusercontent.com/assets/19445/16643574/3c86fd28-4459-11e6-8558-124532fcbe9c.png)

[2016-07-07 05:44] bentrengrove commented on #14
Just noticed this is already resolved. Apologies!

[2016-07-07 05:44] #14 closed

[2016-07-12 02:27] ashfurrow commented on #13
Should be fixed in #9

[2016-07-12 02:27] #13 closed

[2016-07-12 03:03] esttorhe commented on #13
I can confirm it works because i've been using the fork from #9 since i first created this issue 👍

Thanks

[2016-07-13 15:16] paulofaria opened #15 "Swiftlint not installed"
I followed the instructions on the README, but I'm getting this message:

[code]

I checked Eigen's repo and I couldn't find a place where swiftlint is installed manually. Am I missing a step?

[2016-07-13 15:19] ashfurrow commented on #15
Hey there, sorry about that! Good thinking to check eigen, the SwiftLint tool is installed by this plugin itself. [Here's the code](https://github.com/ashfurrow/danger-swiftlint/blob/2ae416a243f3c3d35cbe465e66a4c39e529eb423/lib/danger_plugin.rb#L31-L37) that tries to run `brew install swiftlint` if it's already not installed. Do you have [homebrew](http://brew.sh) installed? We use it to install S

[2016-07-14 00:53] paulofaria commented on #15
I'm using circle-ci with linux. So that's the problem. :( it only supports ci on osx then.

[2016-07-14 01:27] ashfurrow commented on #15
Yikes, good point. Sorry about that, you reckon a mention about only working on macOS should be added to the readme?

[2016-07-15 19:01] ashfurrow opened #16 "Plugin not selectively linting files"
Example is here: https://github.com/Moya/Moya/pull/550#issuecomment-232974662 The PR didn't change any library files but all the library files were linted. Three times actually, which is how many Swift files _did_ change. @orta this would explain the duplicate warnings we've seen, since SwiftLint would be run on all files for ever changed Swift file.

Found the cause: https://github.com/realm/Swif

[2016-07-16 16:15] #10 closed

[2016-07-16 16:15] #15 closed

[2016-07-27 22:59] valeriomazzeo opened #18 "Bug on renamed files"
I am not sure if it's a problem in `danger` or the plugin.

When a file get moved from a directory to another one, I guess GitHub sent something like this to the modified files, that causes the following error, because obviously that's not a valid path.

`No lintable files found at path 'myProjectTests/{ => Views}/MyViewTests.swift'`

To reproduce it, move a file so that GitHub generates something

[2016-07-28 00:26] ashfurrow commented on #18
Hmm, that's an interesting bug! What version of the plugin do you have?

[2016-07-28 00:54] valeriomazzeo commented on #18
latest published `danger-swxftlint 0.1.2`

[2016-07-28 01:22] ashfurrow commented on #18
0.2.0 was posted four days ago. Until #16 is addressed, it only can only lint files defined in the `.swiftlint.yml` file, so this issue should go away. I'd like to keep the issue opened though. The version you're using uses the [`modified_files` danger function](https://github.com/ashfurrow/danger-swiftlint/blob/2ae416a243f3c3d35cbe465e66a4c39e529eb423/lib/danger_plugin.rb#L40), so this might be a

[2016-09-12 21:45] kylejm opened #20 "Clearer installation instructions"
It wasn't clear to me that I needed to install `SwiftLint` myself outside of the `danger` and `danger-swiftlint` setup.

In hindsight this seems obvious. However I wonder if others who are new to Danger (sounds funny) realise they need to do this?

I had the same problem with `danger-prose` requiring `pip` to be installed on the machine, which I did not realise.

Would you like a PR for your `READ

[2016-09-12 21:46] ashfurrow commented on #20
A PR would be very welcome, thanks!

[2016-09-16 15:04] thiagofelix commented on #16
What if we define another config file to be used by danger without the `Included` key? It is not ideal, but it is a workaround.

**eg (.swiftlint.yml)**
[code]

**eg (.swiftlint_CI.yml)**
[code]

Then we can use the `--config` to toggle between one and another.
These are the relevant files on the SwiftLint project.
[CommonOptions.swift#18](https://github.com/realm/SwiftLint/blob/ecbba04f270a5b5769

[2016-09-20 22:14] ashfurrow commented on #16
Makes sense! Want to submit a pull request to do this?

[2016-09-25 21:47] #20 closed

[2017-01-25 10:18] mokagio commented on #16
Closed by #23.

[2017-01-25 10:18] #16 closed

[2017-01-30 22:25] mokagio opened #25 "Evaluate if an update of selective linting implementation is needed"
Now that [the issue in the SwiftLint behaviour](https://github.com/realm/SwiftLint/issues/551) that was [preventing a "direct" implementation of selective linting](https://github.com/ashfurrow/danger-swiftlint/issues/16) has [been fixed](https://github.com/realm/SwiftLint/pull/890) we should re-evaluate way selective linting is implemented.

My guess is that we won't need to generate a dedicated c

[2017-02-02 06:41] sam-w opened #26 "v0.3.0 failing: Invalid `Dangerfile` file: (./.swiftlint.yml)"
I'm getting errors when using danger-swiftlint both locally (osx) and on Circle CI (also osx), since upgrading to 0.3.0. `swiftlint` works fine run by itself, and downgrading back to 0.2.1 fixes the problem.

Output from `bundle exec danger local`:

[code]

`.swiftlint.yml`:

[code]

[2017-02-02 06:43] sam-w commented on #26
Hi Ash, not sure if this is a problem specific to us, but thought worth flagging with you. Cheers for the excellent plugin :D

[2017-02-02 06:51] mokagio commented on #26
I @sam-w. This has most likely to do with the changes I pushed for 0.3.... Sorry about that 😔

Thanks for attaching the stackteace and the `.swiftlint.yml` file. It will help debugging 👍

[2017-02-02 06:52] mokagio commented on #26
This is a good occasion though to setup an integration test with a real Xcode project etc. Stay tuned!

[2017-02-04 04:27] mokagio commented on #26
Hi @sam-w 😄

So, I looked into the error you're getting:

[code]

I set up [an integration test of sort](https://github.com/ashfurrow/danger-swiftlint/tree/add-integration-tests). Which gave more information on the error:

[code]

`Psych` is the library used by plugin to parse YAML files. Which means that the error has to do with how the actual `.swiftlint.yml` is written not with the library.

In

[2017-02-04 04:37] mokagio commented on #26
My best guess is that the YAML parser used by SwiftLint, [YamlSwift](https://github.com/behrang/YamlSwift), is less strict than [psych](https://github.com/ruby/psych).

This whole bug hunt raises a good concern though. Like unit tests, CLI tools should fail in a way that gives as much information as possible to the user. Let's no be like `xcodebuild`!

I can see two options here for us:

- See if

[2017-02-05 02:41] sam-w commented on #26
Hi folks, thanks for looking into this - apologies for making you find a bug in our code! Knowing that varying strictnesses of YAML linter exist, I expect we'll be incorporating a sanity check into our CI to catch this kind of error even before it reaches Danger.

FWIW, I'd favour option number 2 also - correcting the YAML for Psych is the more correct course of action IMO, and is better for avoid

[2017-02-05 06:28] mokagio commented on #26
No worries @sam-w ☺️

It's been a great learning experience, and it resulted with a feature suggestion to improve the plugin. Win!

[2017-02-05 06:28] #26 closed

[2017-02-05 06:35] mokagio opened #27 "Fail gracefully if .swiftlint.yml cannot be parsed"
The discussion on #26 showed how at the moment the plugin fails with a quite cryptic error if the given `.yml` config file is not a valid YAML.

A better behaviour would be to provide the user with an informative message about the state of their file.

[2017-02-12 14:59] thiagofelix commented on #25
I was looking into this and found that we don't control much which version of swiftlint will be installed at the user's machine. It would be better if we could control that so we can pin both `danger-swift` and `swiflint` compatible versions together. Eg, if we remove the workaround of selective linting we would need to user to have the latest version of swiftlint, which might not happen be true h

[2017-02-12 15:04] thiagofelix commented on #25
I think what I am trying to describe/suggest is that we should manage the `swiftlint` installation and make sure our code always works and is released targeting a specific version of it.

We basically shift from "checking" if the library is installed to "enforcing" such version is installed so that we know it will always works =)

[2017-02-12 15:29] thiagofelix commented on #25
I thought about making swiftlint a stricter dependency of danger-swiftlint (maybe having a post-install script here) and sandboxing its installation inside this library scope so we can run it from a know version/place, but looking a swiftlint install process I see it depends on a couple of global system configuration so I am not sure if it will be possible to have a _local_ scoped installation of

[2017-02-17 23:36] thiagofelix commented on #25
Hi @mokagio I am closing this due to #28 implementation.
We ended up removing the the temporary config as swiftlint is now fixed.

Thanks and please let me know if you disagree with me closing this =)

[2017-02-17 23:36] #25 closed

[2017-02-17 23:38] thiagofelix commented on #5
I thought about same thing while reading their codebase for #28 implementation. They already use Danger, so should be a quick thing to implement.

[2017-02-17 23:40] thiagofelix commented on #1
Do you mean lint the ruby code? If yes I think the tool mostly used out there (stats from my head, not serious research) [rubocop](https://github.com/bbatsov/rubocop)

[2017-02-17 23:47] thiagofelix opened #30 "Arguments vs Properties"
Creating this issue after quick discussion on #29

Is there a "better" way for Danger plugins specify their configuration properties?

The only advantage I can see why use properties is if you have more than one action with shared properties exposed by the plugin. eg:

**Dangerfile**
[code]

In this case both `food` and `animal` might be relevant to the actions and you only want to set it once

In

[2017-02-18 15:38] ashfurrow commented on #1
Aye! Rubocop was the plan :)

[2017-02-19 11:06] mokagio opened #31 "0.16.1 release"
@thiagofelix now that https://github.com/ashfurrow/danger-swiftlint/pull/28 has been merged, how do you feel about releasing a new version to start using the new system? /cc @ashfurrow

😄🚢

If you're busy or need help I'm happy to take care of it, but as the author of this great change you deserve to push the button 👍 .

[2017-02-20 05:17] ashfurrow commented on #31
Some help would be appreciated :bow:

I've added you as an owner to the Ruby Gem, thanks for all your hard work! We should probably get together sometime while I'm in Melbourne 😄

[2017-02-20 11:55] thiagofelix commented on #31
Hey @mokagio please do that.
I have no problem at all in someone releasing the new version, it should be smoothly transition given that the changes were done using the gem extensiom system.

As long as we get it out and works I am fine
Thanks for rememeber me  ;)

[2017-02-20 23:57] mokagio commented on #31
Hey folks... I was just about to hit the button to push 0.16.1 when a thought occurred... How would be handle bugfixes and other improvements with this versioning system?

I mean, we couldn't really release 0.16.**2** right, because there's no matching version of SwiftLint (yet).

Would we have to wait for a new SwiftLint version to be published? Or would we do something like force updating the re

[2017-02-21 01:40] ashfurrow commented on #31
Hmm, that's a good question. I'm not sure what the best approach is, but I probably wouldn't want to yank/replace the version on Ruby Gems. Not sure what the best approach here is...

[2017-02-21 04:01] mokagio commented on #31
Yep, me either. Would make builds non-deterministic, and just sounds dirty.

[2017-02-21 10:44] thiagofelix commented on #31
We are stepping in quite dangerous world of semver. It should be fine of we only follow the major.minor version numbers from swiftlint and leave the patch version free to perform bugfixes or changes not realated to swiftlint (Danger changes goes here). Given that patch number are usually nonbreaking changes and could be updated without much worry. Eg it should be fine to bump our patch to follow a

[2017-02-21 10:50] marcelofabri commented on #31
I don't know exactly how "native extensions" work, but what are the advantages over installing swiftlint when the plugin is called? This way the SwiftLint version to be installed could be a parameter so we don't need to release a new version when SwiftLint does.

[2017-02-21 16:27] thiagofelix commented on #31
@marcelofabri native extensions works like a post-install hook where you can compile code dependencies that need to be compiled on final user machine, usually this is used for C libraries which you can't ship as binary given that it would only work with the environment were de binary was generated from therefore you need to compile after install to ensure it will work with the final user machine.

[2017-02-22 21:34] mokagio commented on #31
Love this constructive chats too! 💖

I think we've put a lot of stuff on the plate, and we can group it in two buckets:

- What kind of versioning to use
- Whether to manage the version of SwiftLint or not

These are my two cents:

I think we should stick with our own semantic versioning, without mirroring SwiftLint's. This will give us the flexibility to release fixes and new features while still

[2017-02-22 21:41] thiagofelix commented on #31
Hey @mokagio I am ok as well with going without mirroring the version with SwiftLint and create something that makes it easy to query the tool version as you mentioned.

Regarding managing the swiftlint tool my only concern of *not* managing it is the workarounds we have on the codebase in order to bypass swiftlint limitations. Eg few versions ago we had the "selective linting" problem with swiftl

[2017-02-24 06:10] mokagio commented on #31
@thiagofelix good point on the risks of using a version of SwiftLint that the gem is not expecting... 🤔.

I guess we have to options:

- Allow the user to optionally specify the path, and have some logic to know if the version provided is supported or not. _Sounds like a lot of work, and susceptible to combinatorial explosion._
- Leave it locked.

I think leaving it locked might make the tool slig

[2017-02-24 10:21] thiagofelix commented on #31
@mokagio I think we can tell upfront in documentstio which version the plugin was designed for and warn the user about the bin_path property to use at own risk kind of thing.

[2017-03-09 21:49] mokagio commented on #31
_I'll try to address this during before the end of the weekend, been a bit busy with other things._

[2017-03-09 21:52] ashfurrow commented on #31
Don't worry about it – take care of yourself first @mokagio 😄

[2017-03-09 22:07] keatongreve commented on #18
Just wanted to add to this old issue:

I believe they are working on this at https://github.com/danger/danger/pull/681

For now, I'm doing something like this (credit to [this](https://github.com/danger/danger/issues/498#issuecomment-276600450) comment):
[code]

[2017-03-10 03:54] thiagofelix commented on #31
Also @mokagio I think we can release those features separately from the swiftlint new packaging implementation

[2017-03-14 20:45] mokagio commented on #31
Just released 0.4.0.

Thanks @ashfurrow and @thiagofelix for the feedback and the constructive discussion 😄 .

[2017-03-14 20:46] #31 closed

[2017-03-15 16:07] thiagofelix commented on #31
Thanks @mokagio for taking it further and releasing the new version.
I wish I was working on a Swift project just to play around with Dangerfile+Swift plugin ><

[2017-03-20 08:52] therealbnut commented on #15
I haven't been able to verify this myself yet (working on it), but my understanding is that it should now work on Linux too. You need `swiftlint`, `swift`, and `sourcekit` installed on linux.

The SwiftLint README mentions Linux at the end of this section: https://github.com/realm/SwiftLint/blob/master/README.md#working-with-multiple-swift-versions

[2017-03-28 00:43] mokagio opened #33 "SwiftLint 0.17 support"
On the 24th of March 2017 we got [SwiftLint 0.17](https://github.com/realm/SwiftLint/releases). It has some breaking changes and some new rules. It would be great to support it 😄 .

[2017-03-28 14:42] ashfurrow commented on #33
Sounds good to me 👍 I'm very busy this week, so truly any help would be welcome.

[2017-03-28 16:29] thiagofelix commented on #33
Awesome to bring this up.
In terms of breaking changes, what exactly is needed from us?

My understanding reading the docs was that the breaking changes are related to few rules only and not to the CLI (which we call). If that is true then simply bumping swiftlint version would get it done wouldn't it? =)

[2017-04-18 08:36] valeriomazzeo opened #35 "Invalid `Dangerfile` file: undefined method `map' for nil:NilClass"
When parsing a config file that doesn't have any `excluded` directory, danger-swiftlint crashes.

Adding the following to my config file fixes the issue.
[code]

Stacktrace:
[code]

[2017-04-18 14:45] #33 closed

[2017-04-18 14:47] ashfurrow commented on #35
Hmm, good catch/fix. Thanks for opening the issue. I'll try to get to this soon but it might be a while, if anyone else is available I'd appreciate assistance :bow:

[2017-04-18 15:11] valeriomazzeo commented on #35
np 👍

[2017-04-23 23:00] thiagofelix commented on #35
@ashfurrow isn't it same issue fixed by #37?

[2017-04-24 06:59] ashfurrow commented on #35
I believe so, @valeriomazzeo could you take a look?

[2017-04-24 08:21] valeriomazzeo commented on #35
Does #37 fix also the case when the excluded key is completely missing?

[2017-04-24 08:24] ashfurrow commented on #35
It _should_, can you point to the current `master` and double-check? No worries, we're all busy 😅

[2017-04-24 09:05] valeriomazzeo commented on #35
I am traveling at the moment so won't be able to, until tomorrow :(

[2017-04-24 09:39] ashfurrow commented on #35
No rush – travelling too or else I'd take a look :)

[2017-04-28 08:41] mfclarke opened #39 "Files with '+' in their name not being excluded when in excluded paths"
If I have a file called say `HomeViewSpec+Rotation.swift` in the excluded folder `UnitTests` and make a change to it in a PR, the plugin will incorrectly lint this file 🤕

I believe it's the escaping of the `+` which is messing with it. I'll attempt a PR to fix this...

[2017-04-28 08:41] ashfurrow commented on #39
Interesting, thanks for opening an issue! A PR would be lovely but if you can't get to it I can take a look next week.

[2017-04-28 09:11] mfclarke commented on #39
No worries, turned out to be a simple fix. Nice to do a little bit of ruby again!

[2017-04-28 12:01] #39 closed

[2017-05-04 14:26] RishabhTayal opened #41 "Switch to different folder path"
Is there a way to switch to different folder path and then run `swiftlint` in `Dangerfile` and then switch back to the main folder?

For e.g.
[code]
My main folder is `Folder A`. I want to switch to `Folder B` and then run `swiftlint` in it. My `.swiftlint.yml` file is inside `Folder B`. After `swiftlint` is complete, I want to switch back to `Folder A`.

[2017-05-06 14:35] ashfurrow commented on #41
Hmm, I don't think that's currently possible with the tool. I believe SwiftLint is smart enough to respect the individual `.swiftlint.yml` files in each directory. Can you try it out and see if ti works as-is? Thanks!

[2017-05-06 14:38] RishabhTayal commented on #41
I tried running swiflint in the main directory and I didn't get any violations although there are known violations.

Regards,
Rishabh Tayal
rtayal11@gmail.com

On May 6, 2017, 9:35 AM -0500, Ash Furrow <notifications@github.com>, wrote:

[2017-05-06 14:40] ashfurrow commented on #41
Interesting. Thanks for following up.

[2017-05-06 14:46] RishabhTayal commented on #41
Before you look into it I find a potential solution which _should_ work but it doesn't. Here is the link. https://github.com/danger/danger/issues/805

[2017-05-16 11:35] thiagofelix commented on #41
Hey @RishabhTayal did you try to use the [:directory](https://github.com/ashfurrow/danger-swiftlint/blob/master/lib/danger_plugin.rb#L27) field?

The intention of this feature is precisely allow you to run swiftlint from a different directory.
In your case I believe it would be like this:

**Directories**
[code]

**Dangerfile**
[code]

So it would lint different folders individually.

Hope it help

[2017-06-08 12:18] cojoj opened #43 "Plugin isn't reporting anything"
We're using [buddybuild](http://buddybuild.com/) as CI platform and since also have SwiftLint we've decided that Danger with SwiftLint plugin would be a perfect match to give feedback to PR creators.
I wanted to start simple, so at first I've integrated only Danger and things like:
[code]
Worked like a charm! ✨

Then I've added `danger-swiftlint` to our Gemfile and used the simplest form in our Da

[2017-06-08 12:50] #43 closed

[2017-06-08 16:51] ashfurrow commented on #43
Hi there – happy to debug this with you! I see you closed the issue – did you get this figured out?

[2017-06-08 18:01] cojoj commented on #43
Yeah, I guess so... I’ve played with different swiftlint.yml versions and it feels like we had some conflicts between body lines and file size.

[2017-06-08 18:10] ashfurrow commented on #43
Okay, I'm glad 👍 Let me know if you have any other questions.

[2017-07-05 06:01] giginet opened #44 "Add feature to set SwiftLint execution path"
I integrate SwiftLint via CocoaPods, so `swiftlint` execution path is different than usual.

I want new feature to set SwiftLint path.

https://github.com/ashfurrow/danger-swiftlint/blob/master/ext/swiftlint/swiftlint.rb#L55

[2017-07-05 14:44] ashfurrow commented on #44
That makes sense – what can we do to support your use case?

[2017-07-05 15:03] marcelofabri commented on #44
I think adding a `attr_accessor :binary_path` and then using it should be enough

[2017-07-06 05:05] giginet commented on #44
I submitted #45. Please review this 🙏

[2017-07-06 12:13] #44 closed

[2017-07-16 10:19] freak4pc opened #48 "danger-swiftlint doesn't warn, while SwiftLint itself does"
I'm not sure if this is some misconfiguration (mainly due to the fact there's barely any configuration around danger-swiftlint... )

But when SwiftLint runs by itself, i see specifically
[code]

But when danger-swiftlint runs in my CI (Buddybuild), it doesn't warn for some odd reason
[code]

But no specific warnings related to SwiftLint, and I'm not exactly sure why or if I'm missing something.

G

[2017-07-16 11:12] freak4pc commented on #48
Pushing another PR right after that one made it work, sorry about the confusion.

I am having a different issue of danger-swiftlint ignoring my `excludes` statement in `.swiftlint.yml` which goes through all of my Pods and spits hundreds of warnings but that's probably a separate issue.

[2017-07-17 15:14] ashfurrow commented on #48
Hmm, that's an odd one. Sorry you're experiencing this problem. I agree CocoaPods doesn't seem like a likely source of the problem. I'm not sure what's going on here – I'll try to take a look this weekend. If you could reproduce the problem in a test project, that would make debugging the issue a lot easier. Let me know if you make any progress!

[2017-07-18 07:39] freak4pc commented on #48
Thanks for the reply @ashfurrow :) I'll try digging into it this weekend as well and provide some more feedback

[2017-07-18 17:56] RishabhTayal commented on #48
I am having this issue as well. In my case I am using multiple `swiftlint.lint_files` for different project within the workspace. However I don't think that's what causing the issue.

[2017-07-19 08:06] valeriomazzeo opened #49 "danger-swxftlint 0.7.0 fails when specifying config file"
Very odd, tested `0.6.0` and it works fine.
Although, `0.7.0` works with this configuration:

[code]

It does fail with this:

[code]

The logs report `fatal error` but it doesn't make CI like travis fail the build and it neither report any type of error whatsoever on the pull request.

[code]

Errors are weird, not sure what's happening there.
Somehow it seems there is some hardcoded path coming

[2017-07-19 08:55] marcelofabri commented on #49
This is a SwiftLint issue, sorry about that. Filled https://github.com/realm/SwiftLint/issues/1694 to track it.

[2017-07-19 09:34] marcelofabri commented on #49
And PR landed in #1695. Could you please try it to see if it solves the issue?

[2017-07-19 13:15] ashfurrow commented on #48
Could this be related to #49?

[2017-07-19 13:30] RishabhTayal commented on #48
I am not getting any error when running swiflint but seems like when running `swiftlint` command for multiple configuration files doesn't comment on the pr for remaining projects.

[2017-07-19 13:54] marcelofabri commented on #49
Also, a current workaround for this issue is to provide an absolute path for `--config`.

[2017-07-24 17:30] valeriomazzeo commented on #49
@marcelofabri I can try if you release an hot fix of swiftlint 0.20.2

[2017-07-24 18:33] jpsim commented on #49
There are a number of ways to install SwiftLint without requiring an official release. Please see https://github.com/realm/SwiftLint#installation

Notably, `brew install swiftlint --HEAD`

[2017-07-31 08:28] netbe opened #50 "0.7.0 out?"
Hi,

I am getting the following error lately:

[code]

I guess I need to upgrade my gemfile but I noticed there was no release/tag for 0.7.0, should I restrict it to 0.6.0?

Thanks

[2017-07-31 09:28] marcelofabri commented on #50
Although there's no tag for 0.7.0, that doesn't matter for RubyGems. You can see that it's available: https://rubygems.org/gems/danger-swiftlint/versions/0.7.0.

[2017-08-08 14:05] freak4pc commented on #48
Still couldn't dive much into this as i'm swamped with work but noticed much of this in my PR logs which is interesting 🤔

It seems as if it's using the swift filenames as folders for some odd reason ...

Also wondering on why it's using @marcelofabri 's user folder... ❓

[code]

[2017-08-08 14:08] marcelofabri commented on #48
That's just a side effect on how `fatalError` works in Swift. It uses `#file`, which is resolved in compilation time. And you see that path because the CocoaPods build was compiled on my machine.

Note that it's only the path for the Swift file where the `fatalError` was called. The important part is the message after `fatal error:`, before `file:`.

This can be related to #49. I recommend you to

[2017-08-09 22:32] chooblarin commented on #49
It seems like SwiftLint `0.21.0` has the same issue.

[2017-09-02 03:10] thii commented on #50
@netbe I just pushed a 0.7.0 tag so it should match with the released version on Ruby Gems now.

[2017-09-08 17:49] dzenbot opened #54 "Block PRs for rules with 'severity: error'"
We currently use danger-swiftlint @ Slack to check for swift style issues, but we would love to be able to block PRs from being merged until these issues are properly fixed. Is there a way to do that currently with the plugin? If not, any workaround you'd think about? Thanks!

[2017-09-08 18:01] ashfurrow commented on #54
Hi there! This is a great idea; I believe that using Danger's `fail` method after [this line](https://github.com/ashfurrow/danger-swiftlint/blob/master/lib/danger_plugin.rb#L82) (if there were errors) should block a PR from being merged _if_ the GitHub repo was configured to disallow failing builds. I have some time this weekend to take a look, unless you're available to send a PR :wink:

[2017-09-08 18:33] #54 closed

[2017-09-13 09:12] nikhilsh opened #56 "Danger-Swiftlint (0.9) isn't working with Danger (5.4.1)"
Running `swiftlint` locally runs fine and generates expected output. However, running `bundle exec danger local` with `swiftlint.lint_files` has no output from swiftlint, just the danger commands.

Danger - 5.4.1
Danger-swiftlint - 0.9
Swiftlint - 0.22.0

[2017-09-13 09:26] nikhilsh commented on #56
Oops, after looking at it closely, I realised it was an issue with `pry` I think, where it's somehow appending `binding.pry` to `lint_files`. So I guess the error is not really related.

In any case, I'm still facing the issue where no output is generated when I use `swiftlint.lint_files`. `swiftlint` is installed via homebrew and I even tried removing the `.yml` file but it didn't seem to help

[2017-09-13 13:55] ashfurrow commented on #56
Hmm, sorry to hear about that. Can you provide output? I have some time this weekend I can take a look.

[2017-09-14 02:17] nikhilsh commented on #56
Yeah I understand it's hard to debug this. I don't see any output though so I'm not too sure how to provide it. Are there any logs somewhere I could check?

Using `pry` I am able to see this:

[code]

Where the DangerSwiftlint plugin seems to be initialised. I tried running the slather plugin as `slather.show_coverage` and got expected output, but when i ran the `swiftlint.lint_files`, nil was ret

[2017-09-14 20:39] ashfurrow commented on #56
Thanks! Hmm. I'll take a look this weekend, maybe get some advice on testing plugins from @orta.

[2017-09-15 11:19] orta commented on #56
You're probably going to need to run through some of the code blocks in `lint_files` inside pry to check what data it's running against, testing wise this repo looks pretty fine to me, maybe there's some edge cases specific to your PR? If it's OSS then it's possible for ash to emulate it with `danger pr xxx` also

[2017-09-15 11:35] nikhilsh commented on #56
Sadly it’s not OSS. I’ll try to create a sample project and work through it with my company’s GitHub Enterprise + Jenkins set up and see if that throws any issues.

I can’t give a sample project this weekend though as I’m overseas away from my work com. If the versions I listed in the original comment above work for everyone else then I think @ashfurrow, there isn’t much you can do and I’ll look i

[2017-09-16 15:59] ashfurrow commented on #56
Okay, so I did look into this using [Moya](https://github.com/Moya/Moya) and a testbed. I originally just changed some swift files locally and tried `danger local` but was surprised by the result. Instead of running Danger against my local changes, it ran Danger against the last pull request on the repo. I asked Orta and this is expected – `danger local` is for testing changes to your Dangerfile,

[2017-09-24 23:29] Sega-Zero opened #57 "Option to run swiftlint with strict/lenient mode"
Would like to have an opportunity to run swiftlint in strict or lenient mode. Is there a way to pass an additional commandline parameters?

[2017-09-25 07:41] alphatroya opened #58 "[Feature Request] Ability to highlight new // swiftlint: disable entries"
I think it would be very helpful to secure code from programmers that abusing with this hack.

[2017-09-25 15:57] ashfurrow commented on #58
Interesting – so you're thinking like if someone added a new `// swiftlint: disable ...` then the plugin would add a note to the PR? That's an interesting idea – it's purely additive so I don't see any possible downsides. Yeah, I like this 👍 I'm not sure when I'll have time to work on this, would you be interested in implementing this?

[2017-09-25 16:16] ashfurrow commented on #57
Hmm, tricky. I've looked at the [source code for parsing options](https://github.com/ashfurrow/danger-swiftlint/blob/f290c1861f0739ba2b1726611738a3a8ae6213ca/ext/swiftlint/swiftlint.rb#L38-L54) and you might be able to pass additional arguments by adding as an option like `"lenient" => ""` but we don't expose a way to add arbitrary options to the command invocation. I think we should just add the

[2017-09-25 19:06] Sega-Zero commented on #57
I have no experience in ruby yet :)

[2017-09-25 19:18] ashfurrow commented on #57
No worries! If you're keen, try it out, but no pressure. I'll try to get to it sometime this weekend.

[2017-09-26 06:14] alphatroya commented on #58
Ok, I will try to implement it in spare time

[2017-09-30 21:41] Sega-Zero commented on #48
Any news on this? swiftlint 0.22.0, still not working

[2017-09-30 22:33] ashfurrow commented on #48
Hey, sorry no updates. It would be really helpful if anyone were able to put together a sample project demonstrating the problem, so we can reproduce and debug.

[2017-09-30 23:13] Sega-Zero commented on #48
Will try to create a sample repo asap

[2017-10-02 11:29] nikhilsh commented on #56
Hey sorry for the delay in getting back to this issue. Unfortunately I’m still unable to get this plugin to run against my code base at work. As you have verified that the versions specified work well together, I’ll go ahead and close this issue. If in the future I am able to find out what’s wrong, I’ll be sure to update here. Thanks a lot for the help @ashfurrow and @orta 🙂

<sub>Sent with <a hre

[2017-10-02 11:30] #56 closed

[2017-10-04 14:08] #57 closed

[2017-10-04 14:10] ashfurrow commented on #57
Okay, this should be good to go. I released the new feature as 0.10.0.

[2017-10-04 14:11] thii commented on #50
I guess this is resolved.

[2017-10-04 14:11] #50 closed

[2017-10-07 16:23] Sega-Zero commented on #48
Take a look at https://github.com/Sega-Zero/danger-sample/pull/1
It should fail, but it shows all green.
Right now I have to use this Dangerfile to make things working, but that's not that comfortable

[code]

[2017-10-07 21:12] ashfurrow commented on #48
Okay, thanks! I've used your project to reproduce the bug – I think it's related to the config file paths not being expanded properly. I've fixed the bug and introduced a new verbose logging mode in #60, which has been released as `danger-swift` 0.10.1. If you could, please update to this version and enable verbose logging so we can get a better idea of what's going on.

[2017-10-09 23:18] mokagio commented on #1
Closed by #61 🎉

[2017-10-10 00:15] #1 closed

[2017-10-24 19:01] Austinate opened #62 "Looks like `directory` variable is not escaped"
Hello, first of all — thanks for such an awesome tool!

**tl;dr:** Looks like `directory` variable used in danger_plugin.rb is not escaped because i have issues when my pwd contains whitespaces

My setup:
Ruby 2.3.3 & rvm 1.28.0
Danger 5.5.3
swiftlint 0.21.0
danger-swiftlint 0.10.0

pwd for my project root folder contains whitespaces (i know it's not a best idea ofc 🙃) and i see next message in lo

[2017-10-24 20:48] ashfurrow commented on #62
Hey there – thanks for the detailed issue, and especially thanks for looking into a solution. I think you're correct about the nature of the problem and the fix. A pull request sounds like a good next step, let me know if I can help 👍 and thanks again.

[2017-10-25 14:08] #62 closed

[2017-10-25 14:21] thii opened #64 "[Feature Request] Ability to limit the number of warnings in a PR"
PRs from branches that has a large diff could easily trigger hundreds of SwiftLint warnings and errors (hence hundreds of GitHub notification emails). In worst case, GitHub couldn't even load the PR page. It would be great if we could set a maximum number of warnings in a single PR so the PR submitter could focus on fixing one by one.

[2017-10-25 15:43] thii commented on #64
How about adding a `limit` or `max_issues` option?

[2017-10-26 14:40] #64 closed

[2017-11-01 11:20] AvdLee opened #68 "Configuration error"
Probably caused by [this](https://github.com/ashfurrow/danger-swiftlint/commit/1368b6606a0549c9306d79f487b750e79493ab53#diff-8779f9203f0e53486f80fde88b1552c9R44) commit, we're now getting errors in our setup:

`fatal error: Could not read configuration file at path '/Users/antoinevanderlee/Documents/GIT-Projects/WeTransfer/Coyote/Coyote/Views/Bucket/BucketViewController.swift/Submodules/Rabbit/.sw

[2017-11-01 14:11] ashfurrow commented on #68
Sorry about that! I'm glad you have a workaround in place in the mean time.

I agree that is the likely issue. I think what's happening is that the config path is being expanded from the directory that swiftlint is being run from. Maybe specifying an absolute path would work. I'm not sure.

I'm really swamped at work and don't have time to look at this right now – any help or pull requests you're

[2017-11-03 13:23] AvdLee commented on #68
@ashfurrow opened up a PR for this: https://github.com/ashfurrow/danger-swiftlint/pull/69

[2017-11-04 17:12] #68 closed

[2017-11-08 14:43] AvdLee opened #70 "Danger release documentation for contributors"
We've got a lot of contributors here to help us out improving this repo. As a lack of knowledge, I'm unable to release a new version and I'm wondering if all other contributors have the same.

I'm also not aware if I'm even allowed to release a new version anytime (I would say this is not a problem 💭 )

It would be great if we have a small but clear documentation about releasing new versions to ke

[2017-11-08 17:40] ashfurrow commented on #70
Good idea, I'll try to tackle this this weekend.

In the mean time, I don't ever mind folks opening issues requesting a new release.

[2017-11-09 04:30] ajfigueroa opened #71 "Reorder README examples"
The examples for the for `inline_mode` and specifying a directory should be switched.

### Current README

If you want the lint result shows in diff instead of comment, you can use `inline_mode` option. Violations that out of the diff will show in danger's fail or warn section.

[code]

If you want different configurations on different directories, you can specify the directory. Note: Run `swiftli

[2017-11-09 07:45] #71 closed

[2017-11-10 01:26] dzenbot opened #73 "Error: Failed to build gem native extension"
Since https://github.com/ashfurrow/danger-swiftlint/pull/55 got merged and new versions have been release, we haven't been able to upgrade. Whatever new version of `danger-swiftlint` is released, we keep getting a `Gem::Ext::BuildError: ERROR: Failed to build gem native extension.` on the CI.

Any version after [`0.8.0`](https://github.com/ashfurrow/danger-swiftlint/commit/e330f9c1786e0fc7d59d026e

[2017-11-10 06:31] thii commented on #73
@dzenbot The repository was missing a tag for `0.11.0`. I just pushed it now. Could you try again?

[2017-11-12 13:55] freak4pc opened #74 "danger-swiftlint 0.11 seems to be broken"
After updating to danger-swiftlint 0.11 my PRs seem to break with the following error:
![2017-11-12 15 54 14](https://user-images.githubusercontent.com/605076/32699633-c14baa8a-c7c1-11e7-9859-7753a30b6d93.jpg)

Rolling back to 0.10 resolves the issue so I assume this is a new bug introduced in latest release.

[2017-11-13 09:05] thii commented on #73
Looking at the your CI logs, it looks like the error was caused by being unable to download the portable version of SwiftLint. What is your `SWIFTLINT_VERSION` value by the way?

[2017-11-15 11:41] thii commented on #73
I think it was caused by GitHub API limit. You can install SwiftLint via Homebrew or CocoaPods instead.

[2017-11-15 12:03] thii commented on #74
Does 0.10.2 work for you? What version of SwiftLint are you using?

[2017-11-15 14:23] ashfurrow commented on #73
Okay so this is mysterious – sorry about the problems you've been having.

Bundler is failing when installing `danger-swiftlint` because the [script to install `swiftlint`](https://github.com/ashfurrow/danger-swiftlint/blob/master/ext/swiftlint/Rakefile) is failing. What I don't understand is _why_ Bundler is running the default Rake task when installing the gem.

This line is, I think, overriding

[2017-11-16 17:42] ajfigueroa commented on #74
I'm also seeing the issue on 0.10.2
`[!] Invalid `Dangerfile` file: undefined method `positive?' for 0:Fixnum`

[2017-11-16 19:11] ashfurrow commented on #74
Hmm, can you let me know what Ruby and Bundler versions you have? It would help to reproduce. Thanks!

[2017-11-16 19:14] ajfigueroa commented on #74
Sure, my CI (Bitrise) was using Ruby v2.4.0 and Bundler was at v1.16.0
I ended up reverting the plugin back to `0.10.1` to get things working as normal so the issue seems to happen on v0.10.2+.

[2017-11-16 19:14] freak4pc commented on #74
I'll have to check with buddybuild as its running (and failing) on their CI
:)

--
Shai Mishali

On November 16, 2017 at 21:11:09, Ash Furrow (notifications@github.com)
wrote:

[2017-11-16 19:16] ashfurrow commented on #74
Thanks for the follow-up. I'll try to take a look at this on Saturday/Sunday but time is really tight right now 😬  If anyone is available to lend a hand tracking down the source of the problem, I'd be very grateful 🙇

[2017-11-16 19:16] ajfigueroa commented on #74
@ashfurrow No problem, happy to help. I've edited my above comment with the error log.

[2017-11-16 23:06] freak4pc commented on #74
Uhm that's interesting @ajfigueroa
`danger local` works fine for me 🤔 (otherwise this would be super-easy to fix with a git bisect)

Ruby: ruby 2.4.1p111
Bundler: 1.16.0

[2017-11-16 23:27] freak4pc commented on #74
Rolled back with RVM to 2.4.0 so be on part with your configuration but couldn't get it to "fail" either. That's very very interesting :)

[2017-11-22 15:13] thiagofelix commented on #73
@ashfurrow `bundle install` should indeed run the default Rake task on /ext folder. The reason is because it is configured on the gemspec

https://github.com/ashfurrow/danger-swiftlint/blob/af613b1ded2cecd6cdd8d190154ac8d8b7e21bda/danger-swiftlint.gemspec#L20

The idea is to always download a specific swiftlint version into the users's computer so we don't need to expect it to be already installed

[2017-11-23 09:51] dubemike opened #75 "danger-swiftlint 0.11.0 is throwing false positives for delegate protocol class rule"
<img width="687" alt="screen shot 2017-11-23 at 11 41 51" src="https://user-images.githubusercontent.com/6419590/33166814-4d405db2-d044-11e7-846a-4674c18aafed.png">

and you can see that line 104:

<img width="424" alt="screen shot 2017-11-23 at 11 42 59" src="https://user-images.githubusercontent.com/6419590/33166872-6b29d466-d044-11e7-8f26-c91ec16a382e.png">

running swiftlint locally won't thro

[2017-11-27 19:34] ashfurrow commented on #73
Thanks for following up @thiagofelix – I didn't know that!

@dzenbot I'm trying to reproduce the bug but I'm running into problems. The installation is failing when installing SwiftLint here:

https://github.com/ashfurrow/danger-swiftlint/blob/af613b1ded2cecd6cdd8d190154ac8d8b7e21bda/ext/swiftlint/Rakefile#L7-L21

But I'm able to run that locally without issue. Can you try running these two comman

[2017-11-27 19:36] ashfurrow commented on #75
Hmm, it sounds like the danger plugin isn't using the same `.swiftlint.yml` as when you run locally. Could you check your usage [against the docs](https://github.com/ashfurrow/danger-swiftlint#usage)? Thanks!

[2017-11-29 12:51] kaybutter commented on #75
@dubemike  I had the same problem. The swiftlint binary that came with the gem was not up to date in my case. Setting the `binary_path` to my own swiftlint installation fixed that for me :)

[2017-12-01 08:15] heidiproske commented on #48
hey @ashfurrow I was taking a look at @Sega-Zero's code snippet from Oct 7 while I was trying to debug something with `danger local`. If I use his snippet it'll lint *all* files vs when I run danger-swiftlint it only lints modified/added files.

Is there a way to lint all files with danger-swiftlint? And not just those modified in a PR?

[2017-12-01 08:36] heidiproske commented on #48
hey @ashfurrow I was taking a look at @Sega-Zero's code snippet from Oct 7 while I was trying to debug something with `danger local`. If I use his snippet it lints *all* files (and I get the results I want).

But when I run danger-swiftlint it only lints modified/added files for the PR.

My Dangerfile looks like this:
[code]

Is there a way for danger-swiftlint to show all outstanding warnings in

[2017-12-01 09:11] Sega-Zero commented on #48
@heidiproske, @ashfurrow [answered](https://github.com/Sega-Zero/danger-sample/pull/1#discussion_r143359175) the same question from me.

[2017-12-01 16:39] RishabhTayal commented on #74
I am having the same issue.

[2017-12-02 20:55] Kalvin126 commented on #73
Also seeing this error on our Jenkins CI while getting `Danger` and this plugin setup :/

[2017-12-04 08:39] freak4pc commented on #74
I couldn't reproduce locally with `danger local` but this was still failing on my CI which is interesting. I'll try to dig further into this over the weekend but if anyone else has some time to take a crack at it that would be highly appreciated :)

[2017-12-04 17:27] ashfurrow commented on #74
Thanks @freak4pc – any help would be appreciated. I'm afraid that I don't have a lot of availability to work on this right now.

[2017-12-04 18:31] ashfurrow commented on #73
@Kalvin126 I am not available this week to work on this issue – if you are able to follow the instructions above for reproducing the error in your CI environment, that would help us fix the problem.

[2017-12-06 17:16] ajfigueroa commented on #75
It looks like this issue has been resolved in Swiftlint version [0.23.0](https://github.com/realm/SwiftLint/blob/master/CHANGELOG.md#0230-permanent-press-cycle).

Would the fix involve updating the `SWIFTLINT_VERSION` in [version.rb](https://github.com/ashfurrow/danger-swiftlint/blob/0f4cd70e8b71139d2784521de86acdb5e99b6bee/lib/version.rb#L5)? Would this likely be a breaking change?

[2017-12-06 17:59] ashfurrow commented on #75
That makes sense to me. Since we're not upgrading the Swiftlint version to a new major version, I don't think this is a breaking change. Anyone up to test locally and send a PR?

[2017-12-06 22:04] NachoSoto opened #77 "Danger-JS version"
I couldn't find anything: is there a Danger-JS version of this plugin? If not I guess I'll switch to using the Ruby version, or is it possible to have 2 Dangerfiles?

[2017-12-06 22:26] ashfurrow commented on #77
Good question! So this is something Orta and I have discussed before. There is no Danger-JS version of the plugin _but_ what we're looking to do is move away from Ruby's Danger altogether. [Danger-Swift](https://github.com/danger/danger-swift) (which is just Danger-JS under the hood over a JSON bridge) was [recently modified](https://github.com/danger/danger-swift/pull/37) to support plugins and I

[2017-12-06 23:01] NachoSoto commented on #77
Interesting! Thanks for the answer. I'm using the Ruby version for the time being, and I'll plan to migrate to Danger-Swift soon :)

[2017-12-07 15:54] ashfurrow commented on #77
Cool! I let you know on this issue when it's ready for use 👍

[2017-12-09 05:58] ajfigueroa commented on #75
There are a couple of breaking changes with SwiftLint from the current version `0.20.1` outlined from their [Changelog](https://github.com/realm/SwiftLint/blob/master/CHANGELOG.md) below:

| SwiftLint Version        | Breaking Change           |
|:-------------:|:-------------|
| 0.21.0     | Xcode 8.3 or later and Swift 3.1 or later are required to build. |
| 0.22.0      | Nested configurations w

[2017-12-09 06:15] thii commented on #75
@ajfigueroa Those changes are for building SwiftLint. This plugin use the prebuilt SwiftLint binary so it doesn't matter which Xcode people are using. You can use the `SWIFTLINT_VERSION` environment variable to override the default version, or you can specify a path to your SwiftLint binary.

[code]

[2017-12-09 06:24] ajfigueroa commented on #75
@thii Oh, that's neat! My post can be disregarded then.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-12-09 16:18] ashfurrow commented on #77
Okay so for anyone following along or wondering why Github is giving 404's, I changed the name of this repo from `danger-swiftlint` to `danger-ruby-swiftlint`; then I created a new repo called [`danger-swiftlint`](https://github.com/ashfurrow/danger-swiftlint) to work on the Danger-Swift plugin for SwiftLint. Still very early stages – onwards and upwards!

[2017-12-18 22:31] eskerber opened #78 "[Feature Request] Fail on warnings"
There's a nice switch for failing the build on a linter error. We would love to fail on any warnings in the _PR_ only. Setting `warning_threshold: 0` in swiftlint itself limits is a bit too draconian for running CI test and development.

In other words, how bout a  `fail_on_warning: true` ¯\\\_(ツ)\_/¯

Checking for interest. I can make a PR if it sounds like a good idea.

[2017-12-23 15:40] ashfurrow commented on #78
Hey! Neat idea – I'm definitely open to it, but I don't understand quite what it would do. Could you explain how the existing workflow would be different from this one? Maybe a PR makes the best sense to discuss the idea – let me know!

[2017-12-24 03:00] ashfurrow commented on #77
Alrighty, [the plugin](https://github.com/ashfurrow/danger-swiftlint) should be working now. Let me know if anyone runs into issues.

[2018-01-06 21:53] garnett opened #82 "Danger crashes after plugin update"
[code]

CI run has failed with the following message:

[code]
CI uses `ruby-2.3.1`

[2018-01-07 03:18] ashfurrow commented on #82
Yikes, sorry about that! That is very strange. I installed `ruby-2.3.1` with RVM and with a fresh `irb` shell, it appeared to work:

[code]

I'm not sure what this could be – I'll take a look tomorrow. Anyone else have ideas?

[2018-01-08 18:01] #74 closed

[2018-01-08 18:07] ashfurrow commented on #74
Okay, this was fixed by @thii and released as 0.12.1. Please let us know how it goes 👍

[2018-01-08 18:07] ashfurrow commented on #82
Okay, this was fixed by @thii and released as 0.12.1. Please let us know how it goes 👍

[2018-01-09 07:58] freak4pc commented on #74
Great news !

[2018-01-09 12:39] garnett commented on #82
Worked like a charm 🎆

[2018-01-09 12:39] #82 closed

[2018-01-11 02:40] Kalvin126 commented on #73
I am a bit confused why it needs to download swxftlint if we could define a path to a swxftlint binary

[2018-01-11 16:19] ashfurrow commented on #73
I think the answer to that question is in @thiagofelix's comment earlier:

Without more info, I can't really diagnose the problem. You're welcome to work on a fork that removes this functionality, or send a PR that can optionally disable it.

[2018-02-07 22:05] 72A12F4E opened #86 "danger-swiftlint lints files from merge commits, and not just changes"
I noticed that when I have a merge commit in my history, danger-swiftlint will output lint violations that occur in the merges, and not my changes. This causes confusion. Is this something that is addressable?

[2018-02-08 15:47] ashfurrow commented on #86
Sure, so I want to make sure I understand the issue. A PR's commit history would like like:

[code]

And this plugin is listing the files changed in that middle commit? That's going to be tricky since we get the list of changed files [from Danger](https://github.com/danger/danger/blob/be62c3735c7ea4b8c418b05d6e4a0f3b2dedaaf5/lib/danger/danger_core/plugins/dangerfile_git_plugin.rb#L74-L76), who in

[2018-02-14 22:14] noremac opened #87 "Excluded files are being linted"
I have a few directories set up to be excluded by SwiftLint in my `.swiftlint.yml` file. However, if these files change as part of a pull request, they are still linted by this plugin. Is there a way to disable this, or maybe this is a bug? I've been poking around in the readme and past issues, but could not find a mention of something like this. I apologize if I missed it!

I am using version`0.1

[2018-02-14 23:28] ashfurrow commented on #87
Hi there! Really good question, thanks for opening an issue. This is a bug in danger-ruby-swiftlint. I hit a similar problem in [danger-rubocop](https://github.com/ashfurrow/danger-rubocop) (SwiftLint but for Ruby). However, Rubocop has a handy flag that I used to get around the problem. That flag doesn't exist in SwiftLint, but I have [opened a feature request](https://github.com/realm/SwiftLint/

[2018-02-15 16:00] noremac commented on #87
Thanks for the quick and thorough follow up! I'd be happy to help review or test anything that comes out of this.

[2018-02-17 18:10] ashfurrow commented on #87
I've got an open PR to add this to SwiftLint: https://github.com/realm/SwiftLint/pull/2056

[2018-02-21 16:43] omirho opened #89 "Fail on error doesn't work as expected."
`fail_on_error` behavior should be to fail Danger, but instead it crashes danger with a cryptic message.
<img width="969" alt="screen shot 2018-02-21 at 9 15 50 pm" src="https://user-images.githubusercontent.com/2761158/36492458-35854d26-1753-11e8-866d-7464da7480fa.png">

This is due to using `raise` instead of Danger's `fail` method.

I came upon this issue when I removed `inline_mode` from my co

[2018-02-21 16:45] omirho commented on #89
Also, `inline_mode` fails Danger on errors irrespective of `fail_on_error` being true or not.
This should either be mentioned in the README or changed.
I think it should be changed though.

[2018-02-21 16:50] ashfurrow commented on #89
Hmm! Great catch, thanks. A PR to fix this would be welcome 🙇 As for the `inline_mode`, I admit I've never used it. It sounds like a bug, would you care to open an issue with steps to reproduce? Thanks again!

[2018-02-21 18:31] omirho opened #91 "inline_mode doesn't work with fail_on_error"
Add the following line in your `Dangerfile`
[code]

Now introduce lint errors in your code.

Danger will fail regardless of the value of `fail_on_error` displaying the lint errors in the PR.
The culprit is [this](https://github.com/ashfurrow/danger-ruby-swiftlint/blob/master/lib/danger_plugin.rb#L102) line.

I don't know if this is the intended behavior or not.
Either the bug should be fixed or th

[2018-02-21 18:37] omirho commented on #91
If the intended behavior is to respect `fail_on_error`, then the linter errors will have to be treated as warnings in inline_mode.

[2018-02-21 19:03] ashfurrow commented on #91
Yeah, looks like Rubocop may have replaced the `fail` with `raise`. I think moving it back should fix the bug? In any event, if you or someone else has the time, I'd appreciate a PR :bow:

[2018-02-21 19:04] #89 closed

[2018-02-21 19:12] omirho commented on #91
@ashfurrow This is something different than what you mention.
`fail_on_error` is not respected with `inline_mode`.
Both are written in mutually exclusive blocks.

I'll be happy to raise a PR, but I don't know what the intended behavior should be.

[2018-02-21 19:18] ashfurrow commented on #91
Ahhhhh I see. `inline_mode` was added in #29, I wonder if @leonhartX could offer some perspective on how it should work with `fail_on_error`?

[2018-02-22 04:35] omirho commented on #35
@valeriomazzeo This was probably fixed by #37 .
Can you verify and close the issue?

[2018-02-22 06:55] omirho opened #92 "Tests don't run with Rake"
Tests don't run in the current repository after running:
[code]

I hope I'm doing it correct.
I edited the `Rakefile` and it works now.

Update:
Tests do run with

[code]

[2018-02-22 13:28] leonhartX commented on #91
Yes, I think it's better to respect the `fail_on_error`, maybe change the `fail` to `warn` when `fail_on_error` set to false?

[2018-02-22 15:40] #92 closed

[2018-02-22 15:41] ashfurrow commented on #91
@leonhartX thanks for chiming in!

[2018-02-22 16:58] omirho commented on #91
Cool! I'll raise a PR.

[2018-03-21 21:37] omirho commented on #87
@ashfurrow Any update on this?

[2018-03-22 00:59] ashfurrow commented on #87
The SwiftLint PR has not yet been merged, I’ve asked for an update from them.

[2018-03-22 17:12] ashfurrow commented on #87
The PR has just been merged, we'll need to wait for a new version of SwiftLint to be made before moving forward.

[2018-03-26 13:27] #91 closed

[2018-03-26 17:17] omirho commented on #75
Swiftlint version was updated in the plugin. Closing this.

[2018-03-26 17:17] #75 closed

[2018-03-26 17:28] omirho commented on #73
Seems like this is resolved. Closing it.

[2018-03-26 17:28] #73 closed

[2018-03-26 17:40] omirho commented on #48
This seems to have been fixed with #60
Closing.

[2018-03-26 17:40] #48 closed

[2018-03-26 17:43] Sega-Zero commented on #48
This is not really fixed, but explained in the link I mentioned above. It is by design.
Those who came here for a same question, I recommend to switch to [danger-swiftlint](https://github.com/ashfurrow/danger-swiftlint) written in swift. It is great!

[2018-03-28 15:28] AvdLee opened #100 "Add release documentation"
As described [here](https://github.com/ashfurrow/danger-ruby-swiftlint/pull/99#pullrequestreview-107721172) we should add some documentation about releasing.

[2018-03-31 14:37] ashfurrow commented on #87
Still waiting for the next SwiftLint release, I'll check back next weekend.

[2018-04-06 06:59] heidiproske commented on #87
@ashfurrow I've actually been using `danger-ruby-swiftlint` 0.12.1 quite happily across a number of projects and it has been working well for me (using the same `Dangerfile` setup as defined in this Issue). Specifically it has been adhering to exclusion request defined in my `swiftlint.yml` configuration:

[code]

However, I recently did a `bundle update` and my `danger-swiftlint` version was upda

[2018-04-08 19:35] ashfurrow commented on #87
New SwiftLint has been released: https://github.com/realm/SwiftLint/releases/tag/0.25.1

I’ll get on to updating this plugin this week.

[2018-04-10 07:30] AvdLee commented on #87
Yes @ashfurrow, you're right. @heidiproske the only thing introduced in 0.16 apart of extra logging is the support for environment variables (See [this pr](https://github.com/ashfurrow/danger-ruby-swiftlint/pull/99)).

Do you use any environment variables in your config? It might be that they now get parsed correctly, which introduces the issues.

It might also help to link your config file in thi

[2018-04-19 17:29] chrisballinger opened #101 "Inline mode doesn't seem to work"
It adds the warnings properly in the Danger comment, but doesn't do the "inline" PR feedback. Is there something I'm missing?

[code]

[code]

[code]

[2018-04-20 10:43] joihelgi commented on #101
It seems to fail when setting `swiftlint.directory`

[2018-04-20 13:11] ashfurrow commented on #101
@chrisballinger thank you for the detailed bug report! I've traced through the code and don't see anything obviously wrong. Hmm. @omirho any ideas on this?

[2018-04-21 04:10] omirho commented on #101
I can't really see anything wrong with the code.
Also, the tests are passing.
@chrisballinger Could you try an older version of the library, and let us know if any of them work for you?

[2018-04-21 04:29] chrisballinger commented on #101
@omirho Sure, I'll give it a shot on Monday

[2018-04-21 17:29] ashfurrow commented on #87
I've opened a PR to use the new `--force-excludes` flag here: https://github.com/ashfurrow/danger-ruby-swiftlint/pull/102 Any contributors up for reviewing it?

[2018-04-23 13:43] ashfurrow commented on #87
This is fixed on `master`, I'll try to get a release done this week. Is someone available to point at the master branch in their Gemfile and test it out?

[2018-04-24 16:45] noremac commented on #87
I just gave this a shot, here's what I did:

1. Updated my Gemfile to: `gem 'danger-swiftlint', :github => 'ashfurrow/danger-ruby-swiftlint'`
2. `bundle update danger-swiftlint`
3. Added a file named `blah.swift` with the following contents into my `Pods` folder (which is excluded in my `.swiftlint.yml`)
[code]
4. I then added that same code into a file that I would expect to be linted during a PR

[2018-04-24 16:48] ashfurrow commented on #87
@noremac thank you – what does your SwiftLint config file look like? And could you confirm the SwiftLint version that CI is running?

[2018-04-24 17:10] noremac commented on #87
Hey!

We are using SwiftLint `0.25.1` via a CocoaPod, and we are pointing at it like this in our Dangerfile:

[code]

Here's my very lightly obfuscated `.swiftlint.yml`.

[code]

[2018-04-24 17:13] noremac commented on #87
I also see this log on our build server: `Using danger-swiftlint 0.16.0 from git://github.com/ashfurrow/danger-ruby-swiftlint.git (at master@e0227bd)` And e0227bd does appear to be the latest at the time of writing this.

[2018-04-24 17:29] ashfurrow commented on #87
Ok thanks. That confirms that this issue is still present. Hmm. I'm going to re-open the issue but I'm honestly not sure when I'll be free to look into this further, probably not for another few weeks. If anyone else is available to look into this, I would be grateful.

@noremac could you add `verbose: true` to your invocation? It could help.

[2018-04-24 17:35] noremac commented on #87
Trying that now, I'll report back shortly. Thank you!

[2018-04-25 07:56] AvdLee commented on #87
@noremac just to be sure, you didn't set the environment variable anywhere?

[code]

That overrides the used Swiftlint version as seen [here](https://github.com/ashfurrow/danger-ruby-swiftlint/blob/master/ext/swiftlint/Rakefile#L9).

And as Ash mentioned, verbose would indeed help to see which config is being used and which files are excluded.

[2018-04-25 15:35] noremac commented on #87
I feel confident that the correct swiftlint version is being used because I initially had forgotten to upgrade it along with the gem, and I started getting errors about the missing `--force-excludes` option when the plugin ran.

As for the verbose setting, I added `swiftlint.verbose = true` into my `Dangerfile`, but I did not see anything new on my build server's logs.

[2018-04-25 16:13] ashfurrow commented on #87
@noremac Thanks. For adding verbose logging, the syntax is something like `swiftlint.lint_files inline_mode: true, verbose: true`.

[2018-04-26 14:07] AvdLee commented on #87
This is the way we use it:

[code]

[2018-05-10 14:27] noremac commented on #87
Sorry for the delay! Here is the output:

[code]

[2018-05-10 16:20] omirho commented on #87
Yeah.
@noremac Seems like an issue on your end.
As can be seen from the logs, the excluded paths are the ones in your config files, but the linted paths are different.

I'm confused about these 2 lines..

Please debug and let us know what the issue was.

[2018-05-10 20:57] chrisballinger commented on #101
Tried so far:

* ❌ 0.17.0
* ❌ 0.16.0
* ❌ 0.14.0

Here's my test PR: https://github.com/Raizlabs/ios-template-output/pull/5

[2018-05-10 21:28] omirho commented on #101
@chrisballinger There is an error in your CI logs.

I'm guessing it's something related to this?
You should refer this issue. https://github.com/danger/danger/issues/675

[2018-05-11 04:05] chrisballinger commented on #101
That doesn't affect the ability of a bot to make inline comments in a PR. I don't want to give the oss bot any additional permissions, and it says in that issue you linked:

I don't need any special permission to make inline comments on your PRs on this repo, so I dunno why the bot would need anything special?

[2018-05-11 15:47] chrisballinger commented on #101
@omirho Ya no worries. Is `verbose: true` just a generic thing for the `Dangerfile`?

[2018-05-11 15:53] ashfurrow commented on #101
No, it's specific to this plugin.

[2018-05-12 16:32] chrisballinger commented on #101
@ashfurrow So would I do `swiftlint.verbose :true`?

[2018-05-12 16:50] ashfurrow commented on #101
I just checked [the readme](https://github.com/ashfurrow/danger-ruby-swiftlint#usage) and it looks like it's:

[code]

[2018-06-18 09:16] klaaspieter commented on #87
I _think_ I'm seeing a different bug with this behavior, but I'm unsure if this is a bug in this project or SwiftLint itself.

When the `force_excluded` argument is given I get `No lintable files found at path '/PATH/TO/CHANGE/FILE'`.

Relevant output:
[code]

Editing the source to remove the `force_exclude` solves the problem. So does downgrading to 0.16.0.

[2018-06-18 14:28] ashfurrow commented on #87
Thanks @klaaspieter – appreciate the details!

I'm in a bit of a bind right now that I don't have the free time available to fix this issue – and I'm not using this tool anymore for my projects, so I can't really justify spending work time on this problem. If someone else is available to investigate and submit a PR to fix this, I would really appreciate it.

[2018-07-12 22:52] heidiproske opened #103 "SwiftLint 0.26 support"
The latest `danger-ruby-swiftlint` [uses](https://github.com/ashfurrow/danger-ruby-swiftlint/blob/master/lib/version.rb#L5) `SwiftLint v0.25.1`.

A new `SwiftLint v0.26.0` is [now available](https://github.com/realm/SwiftLint/releases/tag/0.26.0).

#### Motivation for the Update
I'm now using `Xcode 9.4` and have a PR that danger fails due to this bug https://github.com/realm/SwiftLint/issues/2231

[2018-07-13 20:40] #103 closed

[2018-07-13 23:15] heidiproske commented on #103
Aaaah thank you @ashfurrow ! :)

[2018-07-13 23:16] heidiproske commented on #103
Aaaah thank you @ashfurrow !

 Btw, I'm using the swiftlint binary that ships with the danger-swiftlint gem (trying to move away from cocoapods) so I don't think I can just override the environment variable :)

[2018-07-19 19:23] heidiproske commented on #103
I just tested this on several repos and the erroneous lint error bug for case enums is no longer happening, thank you @thii & @ashfurrow :)

[2018-07-20 03:24] heidiproske opened #105 "SwiftLint and danger-swiftlint parse Environment Variable Syntax in .swiftlint.yml differently"
### Issue

#### Quick Summary
Environment Variable Syntax in .swiftlint.yml is parsed differently by danger-swiftlint and causes excluded files to still be linted.

#### Background
hey @AvdLee / @ashfurrow Moooonths ago I [wrote a comment on the thread of PR #87](https://github.com/ashfurrow/danger-ruby-swiftlint/issues/87#issuecomment-379165981) about how after upgrading to danger-ruby-swiftlint

[2018-07-20 06:42] AvdLee commented on #105
Thanks @heidiproske, great found!!

I don't have time soon to fix this, but you can help to make it easier to solve this. Do you know how SwiftLint parses environment variables?

If we can compare that to [our implementation](https://github.com/ashfurrow/danger-ruby-swiftlint/blob/e0227bd354ac9112e72be10223eb848f212175e5/lib/danger_plugin.rb#L181) we might catch the issue.

[2018-07-20 19:06] ashfurrow commented on #105
@heidiproske Thank you for the detailed issue! To be honest, I had no idea that SwiftLint was parsing out environment variables from the YAML file at all. That makes sense now, but wasn't obvious to me.

I took a quick look at the code that @AvdLee linked to above, and it _appears_ to work. Perplexing. Maybe the YAML load is getting messed up?

As a workaround, the projects that don't need it _cou

[2018-07-25 06:57] mgrebenets opened #106 "Can't install gem on a build agent behind firewall"
Hi

In my case I _can_ install Ruby gems on CI, we have a rubygems.org mirror setup via Artifactory.
But I _cannot_ install native extensions like for this particular gem, because it tries to install native extension, which involves downloading SwiftLint from GitHub: 'https://github.com/realm/SwiftLint'.
This is where it fails for me.
This is unfortunate, but this is what we have to deal with.

In

[2018-07-25 13:44] ashfurrow commented on #106
Should be fixed by #107, released as 0.17.2. Thanks!

[2018-07-25 13:44] #106 closed

[2018-07-27 01:49] mgrebenets commented on #101
Having this same issue too.
- GitHub Enterprise
- SwiftLint version `0.25.1`, specifying via `swiftlint.binary_path`.
SwiftLint finds the issues but all I get is this:
![image](https://user-images.githubusercontent.com/350654/43297190-1cb699fc-9193-11e8-81ac-79155b2a5e8f.png)

And no inline comments.

Full `Dangerfile`:

[code]

[2018-07-27 02:42] mgrebenets commented on #101
UPD: false alarm.
So `swiftlint.max_num_violations = 0` will cause it to send `0` issues to the GitHub.
After removing that line all inline comments work 👍

[2018-10-16 19:23] AliSoftware commented on #87
I confirm that because of the `force_exclude` parameter, I have the same error as @klaaspieter

But in fact I think that's a SwiftLint bug. If I manually invoke `bundle exec swiftlint --force-exclude --path foo.swift` … while `foo.swift` isn't in my list of `excluded:` files in my `.swiftlint.yml`, I still have the SwiftLint message: `No lintable files found at path '/Users/[…]/foo.swift'`

[code]

[2018-10-25 17:23] mbogh opened #111 "Use --use-script-input-files instead of running on each file"
Hi,

First of all, thanks for a nice addition to Danger 🥇

We recently ran into the `invalid byte sequence in UTF-8` error which happens under certain circumstances within `ruby-git`. So I changed our use of this plugin to pass all swift files into `swiftlint.lint_files`.
This however resulted a runtime of 19 minutes for linting ~1300 swift files on our CI vs roughly 1 minute  using `swiftlint` in

[2018-10-29 13:37] ashfurrow commented on #111
@mbogh awesome, thank you!

[2018-11-19 17:36] fpg1503 opened #112 "[Feature Request] Automatically suggest auto corrections"
Add an option to suggest corrections of auto correctable violations using [this](https://help.github.com/articles/incorporating-feedback-in-your-pull-request/).

[2018-11-20 15:28] ashfurrow opened #114 "Update CI"
Circle CI 1.0 is not working anymore. Let's move to Travis, it's easier.

[2018-11-26 01:55] fpg1503 commented on #112
It looks like [no changes to Danger Ruby are required](https://github.com/r7kamura/danger-suggester), I'll investigate and open a PR here!

[2018-11-26 09:33] freak4pc opened #115 "Inline mode fails if filename has spaces"
When setting inline_mode, there are no inline comments if the filename has a space in it.

Working example:
![image](https://user-images.githubusercontent.com/605076/49005262-f130bd80-f16e-11e8-9c69-2a8bcb7ef521.png)

Test where filename has space just fall-backs into a regular warning:
![image](https://user-images.githubusercontent.com/605076/49005284-01489d00-f16f-11e8-8393-b9e36c2c06a2.png)

Di

[2018-11-26 18:16] freak4pc commented on #115
Thanks @ashfurrow - I'm not entirely sure on how to add a unit test.
I noticed all Swift files in `fixtures` are empty - so I'm not entirely sure how the tests are constructed to fail. Any hints?

[2018-11-26 19:04] freak4pc commented on #115
The more I look into this, the more I think this is actually an issue with Danger itself, and not this plugin.

[2018-12-01 15:43] #114 closed

[2019-01-09 14:34] kevnm67 commented on #87
@AliSoftware Your workaround solved the ```No lintable files found at path``` issue for me.  Thanks!

[2019-01-15 08:28] Drwalcore opened #119 "[Question] Undefined method for Swiflint four issues - during Jenkins Build"
Hello, first of all, I'd like to thank the maintainer of this repository for writing this tool!

I am encountering this error during Swiftlint phase on my Jenkins Pipeline job and I cannot determine what could be the problem. Same Dangerfile worked really smooth in another project with same gems, dependencies but with another CI (Travis).

[code]

My Swiftlint related lines are as follows in *Dang

[2019-01-15 14:57] ashfurrow commented on #119
Good morning! Sorry to hear you're having trouble – thanks for the detailed issue!

When I see different behaviour in different environments, the first thing I check is the Ruby version. It looks like the crash is using 2.2.3, check what Travis is using successfully. (The other thing I'd recommend is updating to a newer version of this library. It looks like you're on 0.12.1, which is [over a year

[2019-01-15 15:02] Drwalcore commented on #119
Good evening, first of all - thank You for looking at my issue.

I will be more than happy to try to submit an Pull Request, I will do my best and of course follow given hints!

With regards,
Michael

[2019-01-15 15:03] ashfurrow commented on #119
Glad to hear it! It should be a single-line change but if you want some help, let me know and we chan schedule a screen-share to pair on it.

[2019-01-16 12:01] Drwalcore commented on #119
I think I've managed, here's my check list :)
- [x] Remove unary plus operator and push changes to fork
- [ ] Open PR with my changes
- [ ] Update my local CI with newest version
- [ ] Run my `Dangerfile` fork on my problematic CI
- [ ] Write test? Is that needed?

[2019-01-16 14:15] ashfurrow commented on #119
Looks good! No need for tests in this case. I'll review the PR now.

[2019-01-16 14:17] Drwalcore commented on #119
I see that some tests are failing at the moment. I ran `bundle exec rake` locally and the same tests failed.

[2019-01-16 14:34] #119 closed

[2019-02-05 04:15] eskerber commented on #78
I derp'd the followup on this, apologies!

I'd close this, but it looks like @d-a-n almost(?) fixed this.

[2019-03-05 09:41] FranciscoAmado opened #123 "Force SwiftLint version"
Hi there! 👋🏻

I'm having a problem where locally using the SwiftLint version '0.30.0' and on CI using Danger to also run SwiftLint.

The problem is that the default SwiftLint version for this plugin is '0.28.1' and I'm using rules introduced after that version.

I've tried to force the downloaded version with the environment variable `SWIFTLINT_VERSION` set to '0.30.0' like advised on other [comme

[2019-03-05 14:32] ashfurrow commented on #123
Hmm, what version of this library (`danger-swiftlint`) are you using? That env var was only added 9 months or so ago.

We could also update the version we install from 0.28.1 to 0.30.0 by sending a PR modifying this file:

https://github.com/ashfurrow/danger-ruby-swiftlint/blob/370b2ad1ffc21cd5c2c58b4c93c94c231abfee06/lib/version.rb#L5

Then everyone could use the new rules. I kind of like that ap

[2019-03-08 11:19] FranciscoAmado commented on #123
I'm currently using `0.18.2` so it should work as expected 🤷🏻‍♂️

If you agree I'll be happy to send a PR with the SwifLint version bump

[2019-03-09 17:11] ashfurrow commented on #123
A PR would be welcome, thank you :bow:

[2019-03-13 01:08] pluddy commented on #78
This is one we are looking for in our project.  Once we got to 0️⃣⚠️, we want to keep it that way!  With Danger setup to block a PR, it would be nice if it could block code that introduces warnings, not just errors.

[2019-03-13 15:35] ashfurrow commented on #78
Sure, if #109 doesn't do what you need, want to send a PR and we can review+merge?

[2019-03-13 17:58] daniel-beard commented on #115
@freak4pc I fixed this in danger recently, can you retry with v 6.0.0 ?

[2019-03-13 17:59] daniel-beard opened #125 "Filter out non-inline violations?"
Wondering if there is a way to filter out all violations that don't occur in the diff.
E.g. If I have `inline_mode: true`, I'd like to *not* add any violations to the markdown summary and strip out or ignore everything that doesn't occur on a changed line in the diff.

Is there anything for this currently? Otherwise I don't mind contributing this behavior.

[2019-03-13 20:34] freak4pc commented on #115
I'll try in a few days :)

[2019-03-14 13:11] ashfurrow commented on #125
Oh, so it'd be like "this file is changed, and it has violations, but those violations aren't in the scope of the file's diff, so ignore them"? That sounds pretty reasonable! I don't think we have support for it, but it'd certainly be welcome. Ideally, a PR adding this feature would include some unit tests to make sure we can maintain it longterm. Let me know what I can clarify and if I can give a

[2019-03-20 15:13] FranciscoAmado commented on #123
A PR was merged with the proposed changes

[2019-03-20 15:13] #123 closed

[2019-04-25 22:26] daniel-beard commented on #125
Closing, this is implemented

[2019-04-25 22:26] #125 closed

[2019-04-25 22:44] daniel-beard opened #129 "[Feature Request] Non-commenting option"
- I've hit up against another issue extending the functionality of this plugin, and have a proposal to allow generic handling of violations by callers.
- Similar to this issue: https://github.com/ashfurrow/danger-ruby-swiftlint/issues/125 , I want to modify/filter or send violations somewhere else. In this case, I want all the violations to be in a single Github Review comment.
- Instead of adding

[2019-04-27 20:33] ashfurrow commented on #129
Hey, yeah that makes sense! I'd say the argument should be `no_comment` 👍

[2019-06-13 09:13] nderkach commented on #87
It seems that the issue still persists with `0.21.1`. The workaround suggested by @AliSoftware does work with other `lint-files` parameters like `inline_mode`:

[code]

[2019-06-20 19:23] ashfurrow commented on #87
Hmm, okay. Seems like this is caused by an underlying problem with the `--force-exclude` option passed to SwiftLint? [I'm the one who implemented that originally](https://github.com/realm/SwiftLint/pull/2056), and I'm happy to look into fixing it. Sorry to be obtuse, but this is a really long-lived issue and a really clear report on what the problem is would be helpful. @nderkach @AliSoftware woul

[2019-07-29 15:16] #111 closed

[2019-08-08 07:54] georgescumihai commented on #18
This is is still reproducing for a moved file

[code]

[code]

[2019-10-11 13:42] wellavelino opened #136 "[Question] Add danger-ruby-swift-lint as dependency in other gem"
I was just wondering if it's possible to wrap your plug-in inside another one. I'm trying to call the functions inside a common Ruby file (not sure if it's possible, I'm not too familiar with the danger structure)

It's something like this.

def lint(path)
swiftlint.config_file path
end

But I couldn't make it work looks like the DSL isn't available in that context only on Dangerfiles.

[2019-10-11 13:57] ashfurrow commented on #136
Great question! What we'd need to do is move most of the logic from [`danger_plugin.rb`](https://github.com/ashfurrow/danger-ruby-swiftlint/blob/d12ff5cb4ff4d9fb1bcd96b2ee7e0ff9e9cbb5a2/lib/danger_plugin.rb) into a different file, let's call it `swiftlint.rb`. The way we'd decide what goes where is this:

- `danger_plugin.rb`
  - Extracts all the necessary context from the [Danger DSL](https://dan

[2019-10-14 12:48] wellavelino commented on #136
Hey @ashfurrow again, thanks for taking the time to answer me.
I'll create a branch and start the refactor, I'll keep a PR opened as WIP so I can receive some feedbacks.

👍

[2019-10-23 03:00] bdrelling opened #137 "[Question] How do I tell what version of SwiftLint danger is running?"
In addition to the question in the title, if I want Danger to pull in and run a specific version of SwiftLint, is there any way to do so?

I keep getting this error that `unused_declaration` isn't a rule... but it's been in SwiftLint for a few releases now and hasn't gone away. I'm not sure why it keeps spitting that error out at me.

These are my Danger dependencies in my Gemfile:

[code]

_Speak

[2019-10-28 18:26] ashfurrow commented on #137
Hi, thanks! I've created that tag, thank you 😅 As for the version, you can install `swiftlint` yourself and point the plugin to it using the `binary_path` configuration option, but by default SwiftLint will be installed during `bundle install` according to the version specified here:

https://github.com/ashfurrow/danger-ruby-swiftlint/blob/d12ff5cb4ff4d9fb1bcd96b2ee7e0ff9e9cbb5a2/lib/version.rb#L5

[2019-12-12 17:00] eneko commented on #115
@daniel-beard, @ashfurrow It seems this issue is still present on Danger 6.1.0 with danger-ruby-swiftlint 0.23.0

In my case, Danger fails with an "invalid Dangerfile error" when the `git diff` contains files with spaces in their file path (some files with spaces on them are being deleted from git in the log below).

[code]

The error does not happen when files affected by the diff do not contain

[2019-12-13 15:42] ashfurrow commented on #115
@eneko thanks for the update! Since the error is a `Danger::DSLError`, my guess is that it's on Danger's side. I see you already following up on https://github.com/danger/danger/issues/1042 , thank you 🙌 Please let me know what I can do to support you!

[2019-12-13 16:52] eneko commented on #115
Thanks, @ashfurrow. It seems to be an issue on OctoKit (https://github.com/octokit/octokit.rb/pull/1118). Hoping it gets resolved toon.
Regards.

[2019-12-17 14:14] gdoublev opened #138 "Undefined `swiftlint`?"
To preface this, I work behind a corporate firewall/proxy, and unfortunately _some_ GitHub repositories whose release artifacts are hosted on AWS CDN are completely blocked. [SwiftLint](https://github.com/realm/SwiftLint/) is one of those repos.

All that is to say that the install process for this gem was not easy or fun (usually never is for me, regardless of the dependency, not your fault).

So

[2020-01-06 21:18] ashfurrow commented on #138
Hey! Thanks for opening the issue – sorry for the delay in responding (holidays).

It doesn't look like it's SwiftLint's installation that is the issue. Ruby is complaining that there is no `swiftlint` variable, but that _should_ be loaded as a result of having the `danger-ruby-swiftlint` in your Gemfile. The problem is that Danger isn't finding the `danger-ruby-swiftlint` plugin, not that it can'

[2020-01-06 21:25] gdoublev commented on #138
I have not. Still using:
- ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-darwin17]
- danger (6.1.0)
- danger-swiftlint (0.21.1)
- fastlane 2.137.0
- swiftlint 0.31.0

When I run `danger --version`, get some nice deprecation output before the version too 😝
[code]

[2020-01-07 01:41] ashfurrow commented on #138
Okay thanks, and thanks for the info. Those all look good.

Taking a look again, it could be the way that the `danger-swiftlint` gem is installed. You have this line in the CI config:

[code]

And this installs `danger-swiftlint` in the global gems. But later, you invoke `danger` through Bundler:

[code]

So I'm wondering if that could be the source of the problem? I think Danger uses the `Gemfile

[2020-01-07 12:54] gdoublev commented on #138
Honestly, still a bit new to some of the CI stuff, so I genuinely didn't know there was a difference in how gems were installed (via `gem install danger-swiftlint -v 0.21.1` vs. `bundle install` using a cloned repo's Gemfile). I'll uninstall everything and see if installing them all one specific way helps.

It's a tad bit confusing when I go to list gems and they're saying "LOCAL" even though you'

[2020-01-07 13:30] gdoublev commented on #138
You're a damn genius, @ashfurrow ! Can't thank you enough for the assistance and I apologize for my rookie mistake.

[code]

That was run locally, going to test it through Jenkins now, but got excited and wanted to post this small victory here first.

[2020-01-07 14:11] gdoublev commented on #138
Reporting back in, successfully running against PR's using Jenkins. Thanks again so much for all of your help with this, you are the best! 👍

[2020-01-07 14:11] #138 closed

[2020-01-08 00:33] ashfurrow commented on #138
@gdoublev Awesome! So glad that worked 🎉 Absolutely no need to apologize, either. Could make a good blog post, if you're keen!

[2020-02-21 16:36] igorkulman opened #142 "Calling Lint on two different directories fails because of wrong path"
I have a `sources` with `project1` and `project2`, so relative paths from he root to my projects are `sources/project1` and `sources/project2.`

My config looks like this

[code]

The first linting works fine but the second fails, trying to to lint `sources/project1/sources/project2`.

I would expect the path to be "reset" after doing the first linting s the second linting does not fail.

As a wor

[2020-02-24 15:30] ashfurrow commented on #142
Hmm! I've never tried running it twice in one run. Hmm. I don't have a tonne of time to look into this, but the code is here and I'd love to review a pull request 🙇 https://github.com/ashfurrow/danger-ruby-swiftlint/blob/master/lib/danger_plugin.rb

[2020-03-10 19:07] Kaspik opened #144 "Syntax error: "(" unexpected in console when running"
Hey! When using `danger-swiftlint` in `Gemfile`, then running on `Danger`, console throws warning:

[code]
This is possibly affecting results of the Swiftlint checks. Did anyone else notice this, or do you have any idea why would this be happening? I tried to debug the source code but without any luck.

Thanks!

### Gemfile
[code]

### Dangerfile
[code]

[2020-03-10 19:11] austinwright commented on #144
In addition to the above, we have tried with the most recently updated release, and the error has changed to:
[code]

[2020-03-10 19:24] ashfurrow commented on #144
Weird, seems like it's a failure from SwiftLint itself. Can you run `swiftlint` from the command line successfully?

[2020-03-10 19:29] austinwright commented on #144
Yes, both `danger` and `swiftlint` run successfully via zsh and bash locallay. The only difference I can think of is that the github workflow is running on `ubuntu-latest` whereas I am on a mac.

[2020-03-10 19:37] ashfurrow commented on #144
Hmm, I'm not sure – I've never used SwiftLint on Ubuntu.

I looked through [SwiftLint's issue tracker](https://github.com/realm/SwiftLint/issues) and didn't see anything obvious that would explain this. Can you ssh into the Ubuntu machine and try running `swiftlint` locally? If you're using a cloud CI provider like Travis or Circle, it's possible to re-run the build with ssh enabled.

You can also

[2020-03-10 19:49] Kaspik commented on #144
FYI - Running GitHub Action on macOS-latest fixes the issue.

[2020-03-11 00:20] austinwright commented on #144
I will try to isolate the problem to either swiftlint or the gem tomorrow morning. Thanks for the fast replies!

[2020-03-11 14:15] ashfurrow commented on #144
Awesome, let me know how I can help out 👍

[2020-03-11 19:45] austinwright commented on #144
So I got as far as trying to install Swiftlint during the ci workflow and realized it doesn't really have any (easy) installation option for non-macOS VMs. I think the proper fix here is to simply run swiftlint on a macOS environment rather than linux.

As you suggested, if one wants to run danger on linux, separating swiftlint from the process is probably the way to go... but then we lose those n

[2020-03-11 19:48] ashfurrow commented on #144
@austinwright Thanks for following up with the results of your investigation – I'm sure this will help others who run into the same problem 🙌

[2020-03-11 21:11] austinwright opened #145 "Inline Swiftlint comments are crossed out"
Hi, I'm seeing this on my inline swiftlint errors and warnings after a successful CI run with danger and danger-ruby-swiftlint. The plain Danger warning does not appear with strikethrough. It happens on PR open and re-open. (Note I have been using the same test branch for debugging the CI workflow and there are several closed PRs - could this be the issue?).

Versions:
danger: `danger (6.3.1)`
dan

[2020-03-12 14:42] ashfurrow commented on #145
Danger normally edits/deletes comments on subsequent runs, so the comments are always up-to-date. I would bet that strikethrough is a feature of Danger's that is only used on inline comments. I'm not sure – I don't use the inline comment feature.

[2020-03-12 16:45] austinwright commented on #145
Hmm, looks like you're right: https://github.com/danger/danger/issues/1189

Though when browsing the diff between the latest release and 6.2.0 nothing stuck out as being the root cause of this odd behavior 🤔 . I will comment on that issue to try and gain some additional traction.

[2020-03-12 16:45] #145 closed

[2020-03-12 19:01] ashfurrow commented on #145
I'll note that the creator of Danger tends not to use inline comments either, so it might be worth seeking out developers who implemented it and asking for advice.

[2020-03-19 18:22] #144 closed

[2020-03-27 17:17] Indolia opened #146 "Gem::Ext::BuildError: ERROR: Failed to build gem native extension."
Using rake 13.0.1
Using CFPropertyList 3.0.2
Using concurrent-ruby 1.1.6
Using i18n 0.9.5
Using minitest 5.14.0
Using thread_safe 0.3.6
Using tzinfo 1.2.6
Using activesupport 4.2.11.1
Using public_suffix 2.0.5
Using addressable 2.7.0
Using httpclient 2.8.3
Using json 2.3.0
Using algoliasearch 1.27.1
Using atomos 0.1.3
Using aws-eventstream 1.0.3
Using aws-partitions 1.289.0
Using aws-sigv4 1.1.1
U

[2020-03-27 21:03] ashfurrow commented on #146
Hmm, seems to be failing on this line:

[code]

Can you try running that command manually and seeing what it says?

[2020-03-28 05:56] Indolia commented on #146
HI @ashfurrow , I have run "gem install danger-swiftlint -v '0.24.2' --source 'https://rubygems.org/' " Manually but got the same error.

I have also run  these command  "mkdir -p '/Users/rishi/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/danger-swiftlint-0.24.2/ext/swiftlint/bin' && curl -s -L https://github.com/realm/SwiftLint/releases/download/0.39.1/portable_swiftlint.zip -o portable_swiftli

[2020-03-31 21:06] ashfurrow commented on #146
Hmm, not sure. That command is actually a series of commands:

- `mkdir -p '/Users/rishi/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/danger-swiftlint-0.24.2/ext/swiftlint/bin'`
- `curl -s -L https://github.com/realm/SwiftLint/releases/download/0.39.1/portable_swiftlint.zip -o portable_swiftlint.zip`
- `unzip -q portable_swiftlint.zip -d '/Users/rishi/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/ge

[2020-04-03 10:54] Indolia commented on #146
Hi @ashfurrow , I have run each command one by one

1. mkdir -p '/Users/rishi/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/danger-swiftlint-0.24.2/ext/swiftlint/bin'  (**Success**)

2. curl -s -L https://github.com/realm/SwiftLint/releases/download/0.39.1/portable_swiftlint.zip -o portable_swiftlint.zip (**failed**)  because when I run this command

_**unzip -q portable_swiftlint.zip -d '/Users/

[2020-04-06 20:01] ashfurrow commented on #146
That's so weird, I'm not really sure what to tell you. Can you try following the SwiftLint instructions for installing and let me know if they succeed? I really don't know what we could do...

[2020-05-07 22:56] oct0f1sh commented on #146
I just started seeing this same issue, seemingly out of nowhere. One moment `bundle install` was working on our CI, and then 5 minutes later I was getting hit by this same error message about **portable_swift.zip**. I tried rerunning a couple times, but it constantly failed.

I even tried running `bundle install`, `bundle update`, and `gem install danger-swiftlint -v '0.24.2' --source 'https://rub

[2020-05-11 05:04] mokagio commented on #146
Gosh! That looks super weird 😞 .

Could it be possible that there was some error on the binary on the SwiftLint or GitHub side? The error seems to suggest some kind of corruption in the `.zip` file...

[2020-06-11 10:22] mokagio opened #148 "[Heads Up] SwiftLint may soon support remote configurations, which won't work out of the box here"
I noticed [this PR in the SwiftLint repo](https://github.com/realm/SwiftLint/pull/3058), which adds support for parent, child, and remote configurations.

I'm experimenting with it [here](https://github.com/wordpress-mobile/WordPress-iOS-Shared/pull/263) and noticed that a "stock" configuration of the plugin won't work if you have a remote configuration. The reason is the same as why nested config

[2020-06-11 15:49] ashfurrow commented on #148
@mokagio Huge props for opening this issue up 👏 No doubt it will help others. Agreed about next steps and waiting for the readme update. Hope you're well!

[2020-06-15 13:35] allen-zeng commented on #146
This turned out to be a problem with bundler. Deleting folders like `~/.gem` and `~/.bundle` worked for me

[2020-06-16 07:10] mokagio commented on #146
@allen-zeng thanks for the info.

Can you share the config for your CI? It might be that this race condition of sort can be avoided by rearranging some of the steps.

[2020-06-20 11:38] allen-zeng commented on #146
@mokagio I'm using Jenkins pipeline to run scripts in CI. Each agent could be executing 2 jobs concurrently, so that might be where the source of the race condition, _if_ it's a race condition.

Weirdly, this doesn't happen much any more, although it was happening consistently last week, which lead me here 🤷

[2020-06-30 21:51] SaezChristopher opened #149 "Skip/remove swiftlint task"
Hello @ashfurrow . First of all, nice plugin et very nice huge work!
I would like to know if you plan to make the run of swiftlint not mandatory?

I ask the question because i really think that when Orta created Danger (maybe iam wrong), he designed it to be a tool that take an output, work on it and send it as comment on Github PR.
Because of the design of the plugin, we have to fill the binary p

[2020-07-01 22:18] ashfurrow commented on #149
Hello! Thank you for the kind words and the informative issue. This change makes sense to me – I would be happy to review a PR adding this feature.

I would recommend adding a new command, rather than augmenting [the existing `swiftlint.lint_files` command](https://github.com/ashfurrow/danger-ruby-swiftlint/blob/a8d6b3a6e82994f500411ad7acc2039d2d7409c7/lib/danger_plugin.rb#L78) with more arguments

[2020-07-01 22:25] SaezChristopher commented on #149
Excellent !. process_report sounds really good . I will propose something in the following days.
Stay tuned :)

[2020-07-08 12:41] rrolland commented on #146
Hello, I'm also seeing exactly the same issue since.

[2020-08-20 15:29] Jeehut opened #151 "Passing `--strict` doesn't do work"
I just wanted to setup swiftlint via danger using this gem, but when I specify the `additional_swiftlint_args: '--strict'` as implemented in #59, nothing actually changes, still all warnings show up as warnings and danger doesn't fail, although I have setup both `fail_on_error: true` on this gem and even `--fail-on-errors=true` on danger itself. Even setting `max_num_violations` to `0` doesn't fai

[2020-09-01 13:26] bsarrazin opened #153 "[Bug] dependencies / bundler integration fails to properly update"
### Problem

Running `$ bundle update` ends up in downgrading the library or downgrading danger itself if version is locked.

### Setup

Ruby version: 2.6.5
Using rbenv

Contents of `Gemfile`:

[code]

Contents of `Gemfile.lock` (the relevant part):

[code]

Running `bundle update` (the relevant part):

[code]

Contents of `Gemfile.lock` after update (the relevant part):

[code]

Forcing the versi

[2020-09-02 14:01] Jeehut commented on #153
Same issue here. I could workaround this by specifying `gem 'danger-swiftlint', '>=0.24.3'` in my Gemfile. But I suppose that the issue lies in Bundler gem itself as that's where the decision for the version is made (I assume). I guess there's something wrongly matching `3` to be higher than `24` by just looking at the first digit (`2`).

[2020-09-03 16:56] ashfurrow commented on #153
Thanks for the issue! Yeah good thinking @Jeehut, seems to be the case. @bsarrazin which bundler version are you using? Seems really weird that this wouldn't be working ...

[2020-09-09 19:00] bsarrazin commented on #153
@ashfurrow my apologies for the delay. I am using bundler 2.1.4, which I think is the latest?

I was also seeing a conflict with a gem of mine. So I'm thinking maybe that was the source of conflict.
Take a look https://rubygems.org/gems/sekrit/ I think you have far deeper Ruby knowledge than I do. Any feedback is appreciated!

Looks like tweaking the dependency versions and releasing 0.3.0 has fix

[2020-11-24 21:54] quintuschen commented on #151
I have the same problem. I wrote like the following in Dangerfile:

[code]

[2020-12-15 20:52] stherold opened #155 "Having Fallback Dirs Checked for SwiftLint Binary"

[2020-12-15 20:54] #155 closed

[2020-12-15 20:54] Blackjacx opened #156 "Having Fallback Dirs Checked for SwiftLint Binary"
I'm not a ruby expert but as it looks like the plugin searches in the plugin/gem directory for the swiftlint binary:

https://github.com/ashfurrow/danger-ruby-swiftlint/blob/d1ac19bbe5a518b7bd5f343aeea84c5df6e2e2c3/ext/swiftlint/swiftlint.rb#L66

Usually people install the binary using Homebrew which then goes to `/usr/local/bin`, what if we implement a series of checks if the binary can be found

[2020-12-15 20:55] stherold commented on #155
can be deleted, I created one with my private account

[2020-12-16 15:11] ashfurrow commented on #156
That would complicate things slightly, and it's already a bit complex 😅 We actually install the `swiftlint` binary for users when the gem is installed on CI:

https://github.com/ashfurrow/danger-ruby-swiftlint/blob/d1ac19bbe5a518b7bd5f343aeea84c5df6e2e2c3/ext/swiftlint/Rakefile#L6-L23

But we also allow users to specify a path to their own installation:

https://github.com/ashfurrow/danger-ruby-sw

[2020-12-28 19:04] Blackjacx commented on #156
Ahhh thats maybe the reason. In our case the GEMs are cached on Bitrise CI... Maybe that prevents the installation. The thing is on our CI this tool is not found under /usr/local/bin.But not sure.

The reason might also be that Bitrise hasn't have swiftlint installed by default. At the moment we install gems first and then swiftlint after that via [mint](https://github.com/yonaskolb/Mint). Could t

[2021-03-18 13:26] revolter opened #157 "The current directory changes for the entire process after calling this plugin"
Currently, if you're using the `directory` option, after calling a lint method on this plugin, the current directory remains changed to the specified value, even for other plugins.

It is caused by this line:

https://github.com/ashfurrow/danger-ruby-swiftlint/blob/d1ac19bbe5a518b7bd5f343aeea84c5df6e2e2c3/ext/swiftlint/swiftlint.rb#L12

A workaround for this is:

[code]

_(Moved from https://githu

[2021-03-30 13:31] #157 closed

[2021-03-30 19:33] dirtyhabits97 opened #160 "Opt out of --config"
Given the breaking changes to `--config` [in the latest versions of SwiftLint](https://github.com/realm/SwiftLint/issues/3417), I was wondering if we could opt out of passing a config file.

In my case i have a couple of custom_rules defined in the root project's `.swiftlint.yml`, but i need to disable some of them in one of the subdirectories `root/foo/bar/.swiftlint.yml`. This worked great with

[2021-03-30 20:08] ashfurrow commented on #160
Yeah, this sounds like a great idea! It seems like removing the `config_file_path` if it's unspecified would work better with how SwiftLint is operating. ie: it is SwiftLint's job to find the config file if it's not specified (not ours).

A PR sounds wonderful, thank you 🙇

[2021-03-31 20:04] #160 closed

[2021-04-01 13:43] mensfeld opened #162 "Lack of integrity verification of downloaded external dependencies"
Hey,

My name is Maciej Mensfeld and I run a research security project called diffend.io.

I've noticed, that this library downloads some external resources and uses them. While it's a totally common pattern, what is lacking here is integrity verification.

You could verify the integrity of the downloaded file before using it by comparing the file hash to a hardcoded, expected file hash.

This is

[2021-04-05 15:30] ashfurrow commented on #162
Hi Maciej 👋 You are correct that we download resources from GitHub to execute:

https://github.com/ashfurrow/danger-ruby-swiftlint/blob/77360835f4a6d5bb87678ee5865a0c0255a1361a/ext/swiftlint/Rakefile#L10-L22

And you are correct that we could hardcode and md5 hash (for example) into our codebase to verify the integrity of SwiftLint. We haven't done so because it hasn't been a priority; we rely on

[2021-08-18 09:53] apps4everyone opened #165 "Lint error for "masterCard" inclusive_language"
On local Xcode Setup (https://github.com/realm/SwiftLint 0.43.1) the `inclusive_language` has `masterCard` in the `allowance list`.

But on CI I get:
`Declaration masterCard contains the term "master" which is not considered inclusive.`

for:
`case masterCard = "MASTERCARD"`

[2021-08-18 14:44] apps4everyone commented on #165
`.swiftlint.yml`:
[code]

[2021-08-19 05:39] mokagio commented on #165
I'd say this is safe to close. I haven't searched for those usages, but being in the `override_allowed_terms` list, they clearly represent an intentional compromise.

[2021-08-19 07:18] apps4everyone commented on #165
Hey, thx for the fast reply. Tested with disabling:
`- inclusive_language`
and the error is gone on CI.

What version of `https://github.com/realm/SwiftLint` is used as binary or what is the default path for `swiftlint.binary_path`?

[2021-08-19 07:26] apps4everyone commented on #165
Looks like the problem is the outdated version: `0.41.0` here:
https://github.com/ashfurrow/danger-ruby-swiftlint/blob/77360835f4a6d5bb87678ee5865a0c0255a1361a/lib/version.rb#L5
and Mastercard was fixed with `0.42.0` see here:
https://github.com/realm/SwiftLint/blob/master/CHANGELOG.md#0420-he-chutes-he-scores

Latest version: https://github.com/realm/SwiftLint/releases/tag/0.43.1

[2021-08-19 07:54] apps4everyone commented on #165
best would be to add the functionality to specify the version e.g.:
swiftlint.swift_lint_version = '0.43.1'
and use by default the latest?

[2021-08-19 17:54] ashfurrow commented on #165
You can set the `SWIFTLINT_VERSION` environment variable to whatever you want, and [danger-swiftlint will install that version](https://github.com/ashfurrow/danger-ruby-swiftlint/blob/77360835f4a6d5bb87678ee5865a0c0255a1361a/ext/swiftlint/Rakefile#L11). The version we specify in `version.rb` is a fallback if you don't specific one with the `SWIFTLINT_VERSION` env var.

[2021-08-20 00:24] mokagio commented on #165
@apps4everyone thank you for your research work 😄

Sounds like you've done most of the hard work already, how would you feel about opening a PR that updates the fallback version to the latest stable SwiftLint to see if everything works fine with that?

[2021-08-20 07:13] apps4everyone opened #167 "Latest visible release version is not lates tagged version"
Latest visible release version (0.24.5) is not lates tagged version (0.26.0).

<img width="814" alt="Screenshot 2021-08-20 at 09 12 15" src="https://user-images.githubusercontent.com/1915802/130194787-e3b14845-3e8c-404f-beb3-d8a5c8fd8aa7.png">

[2021-08-23 19:37] ashfurrow commented on #167
The releases are tagged, [here](https://github.com/ashfurrow/danger-ruby-swiftlint/tags). That UI shows the GitHub releases, which are like tags but confusing and proprietary:

<img width="476" alt="Screen Shot 2021-08-23 at 4 36 19 PM" src="https://user-images.githubusercontent.com/498212/130508600-2b7c0e95-c235-4f2f-9738-f75526209ad2.png">

I think when thii made the release, they used the GitHu

[2021-08-23 19:59] #165 closed

[2021-08-23 20:02] apps4everyone commented on #167
only wanted to mention this because on the first view on hithub is not showing the latest tag but the release version. (the in the right on this image):

<img width="1440" alt="Screenshot 2021-08-23 at 21 59 49" src="https://user-images.githubusercontent.com/1915802/130511552-6a709516-d844-48e8-84ea-2c5c676eac92.png">

[2021-08-23 20:10] #167 closed

[2021-08-24 12:55] ashfurrow commented on #167
Ugh, why does GitHub make this so frustrating.

[2021-08-25 21:59] rogerluan opened #168 "Source files that have been moved throw "error opening input file '/path/to/file' (No such file or directory)""
Hey 👋

I've noticed that files that have been moved throw "No such file or directory" because this plugin attempts to read the file in its old location.

The errors thrown look like this:

[code]

Not sure if this should be reported in Danger itself, or in this plugin, because I know for a fact that Danger itself report the moved files in a misleading way (IMO). We had to implement this workaround

[2021-09-07 11:47] #168 closed

[2021-09-07 11:57] ashfurrow opened #171 "CI isn't passing"
Travis changed something and our builds aren't running: https://travis-ci.org/github/ashfurrow/danger-ruby-swiftlint/builds Need to either migrate to `travis-ci.com` or another CI provider.

[2021-09-07 12:31] EgorVeremeychikEffectiveSoft commented on #171
Hello, @ashfurrow
Is there any updates?

[2021-09-11 14:42] dirtyhabits97 commented on #171
It seems pretty straightforward and shouldn't take more than 5 minutes according to [this guide ](https://docs.travis-ci.com/user/migrate/open-source-repository-migration#migrating-a-repository). It also looks like only repo owners can do the migration.

[2021-09-11 16:09] #162 closed

[2021-09-11 17:29] mensfeld commented on #162
Thank you. Much appreciated.

[2021-09-14 19:54] ashfurrow commented on #171
Okay, progress! The builds are _running_ but they're not _passing_. Example failure: https://app.travis-ci.com/github/ashfurrow/danger-ruby-swiftlint/builds/237659622 I'll try to take a look later. Seems related to #169 /cc @rogerluan. I'll try to take a look later.

[2021-09-14 21:13] rogerluan commented on #171
Thanks for the friendly tag @ashfurrow ! 💪
@dirtyhabits97 let me know if you have the spare time to check those failures, since you implemented those unit tests 🙏 I'd highly appreciate the help! 🙇

[2021-09-15 12:41] #171 closed

[2021-09-19 15:09] bsarrazin commented on #153
Closing this since it's pretty old and seems to be fixed.

[2021-09-19 15:09] #153 closed

[2021-11-29 10:58] Dawid-Bastek opened #175 "'No such file or directory' when the Gemfile and Dangerfile is in a different location than the root"
I am using Bitrise as a CI/CD tool and I have an issue when I am running Danger-swiftlint for my project:

[code]

The cause of this issue probably is a double `ios` value in the path because when I moved Danger and Gemfile file into the root folder it works. We are using Kotlin Multiplatform and our root folder for iOS is project_catalouge/ios/ and there is no possibility to keep these files ther

[2021-12-21 12:06] Wooder commented on #151
Has anyone found a (maybe temporary) solution of the problem in the meantime?

[2022-02-03 20:13] dpliushchaiIOS opened #177 "Failed to run swiftlint on ubuntu"
I use github action to run danger. It works fine on macOS but doesn't work on ubuntu.
![Screenshot 2022-02-03 at 23 09 33](https://user-images.githubusercontent.com/59007906/152421248-37fc35f3-5e53-4dd3-a31a-1be42f044345.png)

GitHub action .yml:
[code]

[2022-02-04 21:28] Skoti commented on #175
This is actually an issue in `Danger` itself.
This plugin uses `Git` module from `Danger`.
So here the `git.renamed_files`, `git.modified_files` and `git.added_files` already return incorrect paths (basically with the _subdir_ path added again unnecessarily). So in your case `ios` is added twice as this is probably the directory where your Dangerfile is located.
https://github.com/ashfurrow/danger

[2022-02-16 13:21] aakarsh-sasi commented on #177
@ashfurrow  Facing the same issue on ubuntu. It works fine when the system being used is macos. But somehow fails for ubuntu-latest (20.04)

Logs are not much helpful either:

[code]

[2022-02-16 13:25] aakarsh-sasi commented on #144
@Kaspik did you find any solution to run it on ubuntu systems?

[2022-02-17 01:30] daidongon opened #178 "It got an error after upgrading `danger-swiftlint` to 0.30.0"
[code]

[2022-02-17 04:44] aakarsh-sasi commented on #178
Same issue

[2022-02-17 14:48] kokluch commented on #178
I have this issue as well.

[2022-02-24 16:24] mvandervelden commented on #178
As far as I can tell, #179 fixes the issue. Feel free to test that it does.

[2022-02-24 22:46] aakarsh-sasi commented on #178
@mvandervelden needs merge right first?

[2022-02-25 09:14] mvandervelden commented on #178
@aakarsh-sasi You could already use it by referring to the specific repo+branch or commit hash in your Gemfile.

[2022-02-27 23:37] ashfurrow commented on #178
This should also be fixed in version 0.30.1. (Thanks @mvandervelden!) @daidongon can you confirm please?

[2022-02-28 05:07] daidongon commented on #178
@mvandervelden @ashfurrow
Thank you. It worked fine.

[2022-02-28 05:07] #178 closed

[2022-03-10 06:18] nehabans opened #180 "Unable to install danger swiftlint behind Artifactory"
Hi,
I am trying to install danger swiftlint version 0.26.0 on a mac but I am trying to download it using Artifactory package manager which does not allow me to use github.com with rubygems.org.
I want the gem installer to go via artifactory for portable_swiftlint package and not go directly to github.com. I am not sure which rakefile or config file danger_swiftlint is using to download portable_sw

[2022-03-10 14:37] ashfurrow commented on #180
You can specify the `binary_path` config option (described in the readme) to point to a custom SwiftLint install path, and skip the SwiftLint installation by setting the `DANGER_SKIP_SWIFTLINT_INSTALL` environment variable equal to `YES`:

https://github.com/ashfurrow/danger-ruby-swiftlint/blob/7c33f610349f40fabd28746a6ee2576b0aed7307/ext/swiftlint/Rakefile#L8

We could probably do a better job of

[2022-03-15 23:21] nehabans commented on #180
Thanks @ashfurrow, appreciate your quick response. It worked for us and solved a big issue within our organisation. I have raised a [PR](https://github.com/ashfurrow/danger-ruby-swiftlint/pull/182) with an update to ReadMe.

[2022-03-17 11:33] ashfurrow commented on #180
Wonderful! Thanks for the PR and following up that this worked. I’ll close the issue.

[2022-03-17 11:33] #180 closed

[2022-03-24 05:33] dirtyhabits97 commented on #177
Looks like the SwiftLint binary might be corrupted after the download:
https://github.com/ashfurrow/danger-ruby-swiftlint/blob/a955921c8322d777ed7a4d679d1b062528274fc3/ext/swiftlint/downloadSwiftlint.sh#L39-L48

I can take a look at `downloadSwiftLint.sh` this weekend and see if we have any compatibility issues with Ubuntu.

[2022-03-25 18:14] ashfurrow commented on #177
Thank you @dirtyhabits97 – let us know what you learn 👍

[2022-03-26 13:35] dirtyhabits97 commented on #177
The `downloadSwift.sh` command seems to be working as intended.

Perhaps we should download `swiftlint_linux.zip` here:
https://github.com/ashfurrow/danger-ruby-swiftlint/blob/a955921c8322d777ed7a4d679d1b062528274fc3/ext/swiftlint/Rakefile#L12
Instead of `portable_swiftlint.zip`.

[2022-04-24 08:04] Kiran-B commented on #177
I don't think `portable_swiftlint.zip` will help either. Here is what I tried.
I downloaded the portable version of swiftlint using Curl using the command:
[code]
Executed Danger by defining the custom Swiftlint path in Dangerfile using: `swiftlint.binary_path`.

However, I still get a very similar error during execution:
[code]

I also tried installing Swiftlint via Mint. No success. But get a sl

[2022-07-11 03:18] aelam opened #184 "`swiftlint.lint_files inline_mode` doesn't care about the exclusion of .swiftlint"
swiftlint.lint_files inline_mode report all issues for all changed_files while .swiflint exclued the files

[2022-07-28 09:03] quangpc commented on #151
I have same issue.
Did anyone find the solution for this problem? Thank you.

[2022-08-20 13:45] alexanderwe opened #185 "[Question] How to have a "Dynamic" Binary path ?"
Hey,

I am currently trying to let `danger-ruby-swiftlint` use a dynamic binary path by configuring it like the following:

[code]

But it seems this is not working, I always get an error message that SwiftLint is not installed. But when I directly use the value  calculated by `%x( which swiftlint )` it is working

[code]

The reason why I am doing this is two fold:

1. I do not want to rely on th

[2022-08-21 22:52] ashfurrow commented on #185
Hi! Thanks for the detailed question. I agree that if `which swiftlint` yields the string `/opt/homebrew/bin/swiftlint` then this should work. Could you add some logging here so we could learn more?

[code]

When I just tested how `%x( )` works in `irb` and got a string with `\n` at the end:

[code]

So maybe adding a `.strip` would fix this?

[code]

Let us know how it goes!

[2022-08-22 05:40] alexanderwe commented on #185
Hey @ashfurrow - thanks for the fast reply.
At first, your suggestion with `.strip` works, so thanks a lot! 👍 Danger now picks up the correct path locally AND on the CI.
But what's interesting though, when I add logging I do not see the `\n` at the end, but still `.strip` did the trick and it works now

[code]

[2022-08-22 07:34] #185 closed

[2022-08-22 13:19] ashfurrow commented on #185
Ah, right 😅

Yeah I'm not sure about formatting the `\n` newline. `puts` doesn't seem distinguish the two, but `irb` does:

[code]

🤷 I'm glad it's working, though!

[2022-09-22 14:43] idrougge commented on #177
Getting this exact problem on a runner with Ubuntu 20.04.5 LTS.

[2022-11-16 06:45] hlung commented on #87
Does any one notice that using `--no-force-exclude` gives an error below?

[2022-11-20 17:35] apps4everyone opened #187 "Update to SWIFTLINT_VERSION 0.50.0"
Update to SWIFTLINT_VERSION 0.50.0